pipeline/FinalDFProcessing.json
{
	"name": "FinalDFProcessing",
	"properties": {
		"activities": [
			{
				"name": "spGetDFParameterDetail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spGetDFParameterDetail]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "spTAS_DailyDataRefreshSalesData-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_DailyDataRefreshSalesData]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spRolloverDataLoad-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spLoadRollOverDayZeroData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spCalculateLuckDrawStore-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NewTASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spCalculateLuckDrawStore]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDF_GenerateInvWiseNetSales-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDF_GenerateInvWiseNetSales]",
					"storedProcedureParameters": {
						"Rptmonthyear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spDFTAS_PopulateSBDWorkingData-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDF_GenerateInvWiseNetSales-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WINIT Daily Processing",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "spPopulateStoreWiseChannelForUpdateInFactTables",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Wait for SBD Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spDFTAS_PopulateSBDWorkingData]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "PremiumDatafoundationconnection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateSBDGaps-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateSBDGaps]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateSchemeApplied-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateSchemeApplied]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopActiveSBFFrmInv-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopActiveSBFFrmInv]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spPopulateSchemeData-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateSchemeData]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateStoreDSEWiseSales-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateStoreDSEWiseSales]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SQL_Scale S6 400 DTU",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spCalculateLuckDrawStore-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_PopActiveSBFFrmInv-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateSchemeData-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FinalDFProcessing-TASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "TransferInvDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spRptPopulateDataForTASAbsenteeismDashboard",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SchemeIndex",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "COHGAP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale_Condition",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "S6",
						"tier": "Standard",
						"flgcalled": 1
					}
				}
			},
			{
				"name": "AS_ResumeandScale_S9",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "FinalDFProcessing-TASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LeapData_Factforcubeprocessing_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AS_Scaling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"flgcalled": 0
					}
				}
			},
			{
				"name": "spTAS_MapTeleCallingInvDetail-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_DailyDataRefreshSalesData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_MapTeleCallingInvDetail]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spTAS_PopulateSchemeApplied-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTAS_PopulateStoreSchemeDistributionCount]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW_Resume_Scale DW200_V2",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "RetailerFlagUpdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FinalDFProcessing-TASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewTASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ScaleVal": "DW200c",
						"flgcalled": 0
					}
				}
			},
			{
				"name": "FinalDFProcessing-TASProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FinalDFProcessing-TASProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ProcessDt": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.CurrDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "RetailerFlagUpdate",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateTASFutureDateInRouteCalendar-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RetailerFlagUpdate",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "AR Data Transfer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AR Data Transfer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spPopulateTASFutureDateInRouteCalendar-DF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateTASFutureDateInRouteCalendar]"
				},
				"linkedServiceName": {
					"referenceName": "Dev_DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "TransferInvDetails",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TransferInvDetails",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "WINIT Daily Processing",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WINIT Daily Processing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SQL_Scale GP V16",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL_Scale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Scaleval": "GP_Gen5_16",
						"tier": "GeneralPurpose",
						"flgcalled": 1
					}
				}
			},
			{
				"name": "DF-To-TAS Transfer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spTAS_PopulateSBDGaps-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DF-To-TAS Transfer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LeapData_Factforcubeprocessing_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WINIT Daily Processing",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "RetailerFlagUpdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateTASFutureDateInRouteCalendar-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateStoreWiseChannelForUpdateInFactTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapData_Factforcubeprocessing_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RptMonthYear": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "PCode_Maximus_Job",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FinalCubeProcessing_Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PCode_Maximus_Job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinus1Date": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "WaitTillPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WaitTillPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TimeValue": "05:30:00"
					}
				}
			},
			{
				"name": "spScoreCard_PopulateFactTableData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LeapData_Factforcubeprocessing_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spScoreCard_PopulateFactTableData]"
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NewTASProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spRolloverDataLoad-TAS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DF-To-TAS Transfer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "NewTASProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DW_Scale_1000",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spDF_GenerateInvWiseNetSales-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "WINIT Daily Processing",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spTAS_MapTeleCallingInvDetail-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "RetailerFlagUpdate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spPopulateTASFutureDateInRouteCalendar-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DW_Resume_Scale_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ScaleVal": "DW1000c",
						"flgcalled": 1
					}
				}
			},
			{
				"name": "DCCFinalProcessing",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "DW_Resume_Scale DW200_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DCCFinalProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "DWScaleafterProcessing_V21",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "AS_ResumeandScale_S9",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DCCFinalProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LeapDataMorningProcessing_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DWScaleafterProcessing_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spPopulateStoreWiseChannelForUpdateInFactTables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DW_Scale_1000",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateStoreWiseChannelForUpdateInFactTables]",
					"storedProcedureParameters": {
						"RptMonthYear": {
							"value": {
								"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "FinalCubeProcessing_Container",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "DWScaleafterProcessing_V21",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FinalCubeProcessing_Container",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DMinusOneDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
							"type": "Expression"
						},
						"flgcalled": 1
					}
				}
			},
			{
				"name": "MorningProcessCompleteCheck_Container",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LeapData_Factforcubeprocessing_V2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "spDFTAS_PopulateSBDWorkingData-DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MorningProcessCompleteCheck_Container",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "LeapDataMorningProcessing_V2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait 30 min",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataMorningProcessing_V2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataProcessDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.CurrDate",
							"type": "Expression"
						},
						"Step": "2"
					}
				}
			},
			{
				"name": "LeapDataProcessing_V2_Step4",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "FinalCubeProcessing_Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LeapDataProcessing_V2_Step4",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataProcessDate": {
							"value": "@activity('spGetDFParameterDetail').output.firstRow.CurrDate",
							"type": "Expression"
						},
						"Step": "4"
					}
				}
			},
			{
				"name": "Wait 30 min",
				"type": "Wait",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1800
				}
			},
			{
				"name": "Wait for SBD Process",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spGetDFParameterDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Wait for SBD Process",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "spRptPopulateDataForTASAbsenteeismDashboard",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NewTASProcessing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spRptPopulateDataForTASAbsenteeismDashboard]"
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spTASProcessForDay",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SQL_Scale GP V16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spTASProcessForDay]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TASDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SchemeIndex",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "spTASProcessForDay",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('spTASProcessForDay').output.firstRow.flgAllow,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "spDailyRefreshSchemeData_Index",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spDailyRefreshSchemeData_Index]",
								"storedProcedureParameters": {
									"IsFullProcessRunning": {
										"value": "0",
										"type": "Byte"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "TASDatabase_Check",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "COHGAP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "spTASProcessForDay_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('spTASProcessForDay_1').output.firstRow.flgAllow,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyLeap_Staging-To-DB_COHGAP",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyLeap_Staging-To-DB_COHGAP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "spTASProcessForDay_1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "WaitTillPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[spTASProcessForDay]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TASDBConnection",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SpTASBestRateProcess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "spManageAccess-Allow-TasSeller",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SpTASBestRateProcess]",
					"storedProcedureParameters": {
						"flgTASloadingcomplete": {
							"value": "1",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "spManageAccess-Allow-TasSeller",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SQL_Scale S6 400 DTU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spManageAccess]",
					"storedProcedureParameters": {
						"flgAllow": {
							"value": "1",
							"type": "Int32"
						},
						"strGroupID": {
							"value": "2^",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TASDatabase_Check",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"flgCOHTimeOK": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}