pipeline/LeapDataFullProcessDaily_V2_11Dec2024.json
{
	"name": "LeapDataFullProcessDaily_V2_11Dec2024",
	"properties": {
		"activities": [
			{
				"name": "SpCheckAllFileProcessStatus",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Loading Temp and Final Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[SpCheckAllFileProcessStatus]",
						"storedProcedureParameters": {
							"Step": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnectionV2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If All Final Table Loaded",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SpCheckAllFileProcessStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send Notification",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpScoreCard_PopulateTableData_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SpScoreCard_PopulateTableData_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpScoreCard_PopulateTableData]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "FinalDFProcessing",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "sptmpDeleteMumbaiStorrs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FinalDFProcessing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Wait1 Second",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "WaitforNCSToFinish",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Wait1 Second",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "WaitforNCSToFinish",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "DW_Scale Processing",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "WaitforNCSToFinish",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DW_Resume_Scale_V3",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"flgcalled": 1,
									"flgStep": 2
								}
							}
						},
						{
							"name": "APIExtractPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "DW_Scale Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "APIExtractPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "SpScoreCard_PopulateTableData",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DW_Scale Processing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SpScoreCard_PopulateTableData]"
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sptmpDeleteMumbaiStorrs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "APIExtractPipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sptmpDeleteMumbaiStorrs]",
								"storedProcedureParameters": {
									"RptMonthYear": {
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate, 'yyyyMM')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Loading Temp and Final Tables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MiddleDFProcessing",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataProcessDate": {
							"value": "@pipeline().parameters.DataProcessDate",
							"type": "Expression"
						},
						"Step": {
							"value": "@pipeline().parameters.Step",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"DataProcessDate": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			},
			"Step": {
				"type": "string"
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-13T19:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}