pipeline/SBDLoadingandProcessing_Historical.json
{
	"name": "SBDLoadingandProcessing_Historical",
	"properties": {
		"activities": [
			{
				"name": "Lookup LastDate Of months",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[spgethistoricaldatadates]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DataFoundationConnection",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup LastDate Of months",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup LastDate Of months').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SpCycleStart",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[dbo].[SpCycEntry]",
									"storedProcedureParameters": {
										"flgInOut": {
											"type": "Byte",
											"value": "1"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DataFoundationConnectionV2",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Cloud1Processing_Historic",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpCycleStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Cloud1Processing_SBD_Historic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DataProcessDate": {
										"value": "@item().DataDate",
										"type": "Expression"
									},
									"CycleID": {
										"value": "@activity('SpCycleStart').output.firstRow.CycleID",
										"type": "Expression"
									},
									"Step": {
										"value": "@pipeline().parameters.Step",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Cloud2Processing_SBD_Historic",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpCycleStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Cloud2Processing_SBD_Historical",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DataProcessDate": {
										"value": "@item().DataDate",
										"type": "Expression"
									},
									"CycleID": {
										"value": "@activity('SpCycleStart').output.firstRow.CycleID",
										"type": "Expression"
									},
									"Step": {
										"value": "@pipeline().parameters.Step",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Cloud3Processing_SBD_Historic",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SpCycleStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Cloud3Processing_SBD_Historical",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"DataProcessDate": {
										"value": "@item().DataDate",
										"type": "Expression"
									},
									"CycleID": {
										"value": "@activity('SpCycleStart').output.firstRow.CycleID",
										"type": "Expression"
									},
									"Step": {
										"value": "@pipeline().parameters.Step",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "spDataLoadSBDMasterData_Cloud",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Cloud1Processing_Historic",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Cloud2Processing_SBD_Historic",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Cloud3Processing_SBD_Historic",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spDataLoadSBDMasterData_Cloud_NewStructure]"
							},
							"linkedServiceName": {
								"referenceName": "Dev_DataFoundationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Step": {
				"type": "string"
			}
		},
		"variables": {
			"flgCloud1LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud2LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud3LoadingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud1ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud2ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			},
			"flgCloud3ProcessingDone": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "V2 Pipelines"
		},
		"annotations": []
	}
}