LEAP-DF-DataLoad/PartialArmTemplates/ArmTemplate_8_7_2021_17_56_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovementDaily')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Delete Staging Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "spLoadLeapTasIntegration",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spLoadLeapTasIntegration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Directory": "cntleap",
								"Folder": {
									"value": "@concat('/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DFDataProcessAfterLoading",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "FocusBrandLoading-LEAP-TO-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DFDataProcessAfterLoading",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataDate": {
									"value": "@adddays(formatDateTime(pipeline().parameters.DataProcessDate,'dd-MMM-yyyy'),0)",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DW_Scale_200",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AS_CubeProcess_Sync_Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW_Scale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Scaleval": "DW200c"
							}
						}
					},
					{
						"name": "FocusBrandLoading-LEAP-TO-DF",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete Staging Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FocusBrandLoading-LEAP-TO-DF",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "AS_Resume",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DFDataProcessAfterLoading",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AS_Resume",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "AS_Resume",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					},
					{
						"name": "AS_CubeProcess_Sync_Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AS_CubeProcess_Sync_Fact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Send Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CopyLeap_Staging-To-DB_3",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "spLoadLeapTasIntegration",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Delete Staging Files",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "FocusBrandLoading-LEAP-TO-DF",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "DFDataProcessAfterLoading",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "AS_Resume",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "AS_CubeProcess_Sync_Fact",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "DW_Scale_200",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "CopyLeap_Staging-To-DB_4",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "Avinash@astix.in,Ashwani@Astix.in,Alok@astix.in",
								"Subject": "DataFoundation DataLoading Fails ",
								"ErrorMessage": "Processing Fails , login to Portal for more deatils."
							}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_4",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_4",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "API All Extract Data Populate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DFDataProcessAfterLoading",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateAPIAllExtract]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIDataFileGeneration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup All Distributor",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDbrList]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DF_NC_Sales_SUBD",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Distributor",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup All Distributor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup All Distributor').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DocNumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DocNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ApplyToDocNum",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ApplyToDocNum",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DSEName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DSEName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "UPC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "UPC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Qty",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Qty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Discount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Discount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NetAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "NetAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Reason",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Reason",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderMode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderMode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ExtractDate",
														"type": "DateTime",
														"physicalType": "date"
													},
													"sink": {
														"name": "ExtractDate",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_tmpAPIExtractDayPSRRawBranch_table",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(utcnow(), 'yyyy'), '/', formatDateTime(utcnow(), 'MM'), '/', formatDateTime(utcnow(), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat(formatDateTime(utcnow(), 'yyyy'), '/', formatDateTime(utcnow(), 'MM'), '/', formatDateTime(utcnow(), 'dd'), '/')}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_tmpAPIExtractDayPSRRawBranch_table')]",
				"[concat(variables('factoryId'), '/datasets/LeapAPIFileDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_tmpAPIExtractDayPSRRawBranch_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataFoundationDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DF_DBConnection/LEAP Tables"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "branch_code",
						"type": "varchar"
					},
					{
						"name": "branch_name",
						"type": "varchar"
					},
					{
						"name": "cfr_date",
						"type": "varchar"
					},
					{
						"name": "channel_name",
						"type": "varchar"
					},
					{
						"name": "category",
						"type": "varchar"
					},
					{
						"name": "brandform",
						"type": "varchar"
					},
					{
						"name": "sub_brandform",
						"type": "varchar"
					},
					{
						"name": "orders",
						"type": "varchar"
					},
					{
						"name": "supply",
						"type": "varchar"
					},
					{
						"name": "unserved_demand_qty",
						"type": "varchar"
					},
					{
						"name": "cfr_per",
						"type": "varchar"
					},
					{
						"name": "FileName",
						"type": "varchar"
					},
					{
						"name": "LastModifiedDatetime",
						"type": "varchar"
					},
					{
						"name": "FileSetId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "BranchNodeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeid",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SBFNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChannelId",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmpAPIExtractDayPSRRawBranch"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapAPIFileDataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DFLeapTempStorageLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "StagingSource"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{concat(formatDateTime(utcnow(), 'yyyy'), '/', formatDateTime(utcnow(), 'MM'), '/', formatDateTime(utcnow(), 'dd'), '/')}",
							"type": "Expression"
						},
						"container": "apidatacontainer"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapAPIFileDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DFLeapTempStorageLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"FolderPath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "FileConnection"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderPath",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().directory",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}