LEAP-DF-DataLoad/PartialArmTemplates/ArmTemplate_2_19_2021_16_10_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadFile-ADLS-To-DB_DPSR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LoadFile-ADLS-To-DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "/2020/08/10/",
										"type": "Expression"
									},
									"directory": "cntleap"
								}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "DRCP_Could1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'DRCP_cloud01_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DRCP_Cloud1",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "DRCP_cloud01_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@pipeline().parameters.Container",
																"type": "Expression"
															},
															"Directory": {
																"value": "@pipeline().parameters.Folder",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								},
								{
									"name": "DRCP_Could2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "DRCP_Could1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'DRCP_cloud02_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DRCP_Cloud2",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "DRCP_cloud02_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@pipeline().parameters.Container",
																"type": "Expression"
															},
															"Directory": {
																"value": "@pipeline().parameters.Folder",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								},
								{
									"name": "DRCP_Could3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "DRCP_Could2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(startswith(item().name,'DRCP_cloud03_'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DRCP_Cloud3",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "Lastmodifieddatetime",
																"value": {
																	"value": "@activity('GetFileList').output.lastModified",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "DRCP_cloud03_*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "branchcode",
																	"type": "String"
																},
																"sink": {
																	"name": "branchcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "branchname",
																	"type": "String"
																},
																"sink": {
																	"name": "branchname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercode",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailername",
																	"type": "String"
																},
																"sink": {
																	"name": "retailername",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retaileraddress",
																	"type": "String"
																},
																"sink": {
																	"name": "retaileraddress",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "retailercontact",
																	"type": "String"
																},
																"sink": {
																	"name": "retailercontact",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "stlname",
																	"type": "String"
																},
																"sink": {
																	"name": "stlname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsecode",
																	"type": "String"
																},
																"sink": {
																	"name": "dsecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "dsename",
																	"type": "String"
																},
																"sink": {
																	"name": "dsename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channel",
																	"type": "String"
																},
																"sink": {
																	"name": "channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeltype",
																	"type": "String"
																},
																"sink": {
																	"name": "channeltype",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "channeldescription",
																	"type": "String"
																},
																"sink": {
																	"name": "channeldescription",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routecode",
																	"type": "String"
																},
																"sink": {
																	"name": "routecode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "routename",
																	"type": "String"
																},
																"sink": {
																	"name": "routename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "sectorname",
																	"type": "String"
																},
																"sink": {
																	"name": "sectorname",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "latitude",
																	"type": "String"
																},
																"sink": {
																	"name": "latitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "longitude",
																	"type": "String"
																},
																"sink": {
																	"name": "longitude",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "visit_date",
																	"type": "String"
																},
																"sink": {
																	"name": "visit_date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "Filename",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lastmodifieddatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "ADLSCSVDataSource_Folder",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@pipeline().parameters.Container",
																"type": "Expression"
															},
															"Directory": {
																"value": "@pipeline().parameters.Folder",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_DRCP_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:39:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLSCSVDataSource_Folder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSCSVDataSource_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dfdatafoundationLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "OtherDataSet"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DRCP_cloud01_2020Dec05.gz",
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "document_no",
						"type": "String"
					},
					{
						"name": "apply_to_doc",
						"type": "String"
					},
					{
						"name": "document_date",
						"type": "String"
					},
					{
						"name": "transaction_type",
						"type": "String"
					},
					{
						"name": "subbrandform_name",
						"type": "String"
					},
					{
						"name": "prod_name",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "customer_code",
						"type": "String"
					},
					{
						"name": "channel_description",
						"type": "String"
					},
					{
						"name": "dse",
						"type": "String"
					},
					{
						"name": "pcode",
						"type": "String"
					},
					{
						"name": "customer_type",
						"type": "String"
					},
					{
						"name": "hsn_code",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "brandform",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "gross_value",
						"type": "String"
					},
					{
						"name": "discount",
						"type": "String"
					},
					{
						"name": "taxable_scheme",
						"type": "String"
					},
					{
						"name": "cgsttax",
						"type": "String"
					},
					{
						"name": "sgsttax",
						"type": "String"
					},
					{
						"name": "igsttax",
						"type": "String"
					},
					{
						"name": "cesstax",
						"type": "String"
					},
					{
						"name": "mracc_code",
						"type": "String"
					},
					{
						"name": "mracc_desc",
						"type": "String"
					},
					{
						"name": "vendor",
						"type": "String"
					},
					{
						"name": "net_amount",
						"type": "String"
					},
					{
						"name": "tax_on_discount",
						"type": "String"
					},
					{
						"name": "tax_on_scheme",
						"type": "String"
					},
					{
						"name": "tax_in_rlp",
						"type": "String"
					},
					{
						"name": "retailing",
						"type": "String"
					},
					{
						"name": "gross_in_slp",
						"type": "String"
					},
					{
						"name": "po_no",
						"type": "String"
					},
					{
						"name": "dse_code",
						"type": "String"
					},
					{
						"name": "msu",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "dist_gstinno",
						"type": "String"
					},
					{
						"name": "ret_gstinno",
						"type": "String"
					},
					{
						"name": "srn_ref_no",
						"type": "String"
					},
					{
						"name": "composite",
						"type": "String"
					},
					{
						"name": "cgsttax_rate",
						"type": "String"
					},
					{
						"name": "sgsttax_rate",
						"type": "String"
					},
					{
						"name": "igsttax_rate",
						"type": "String"
					},
					{
						"name": "cesstax_rate",
						"type": "String"
					},
					{
						"name": "branch_code",
						"type": "String"
					},
					{
						"name": "branch_name",
						"type": "String"
					},
					{
						"name": "order_mode",
						"type": "String"
					},
					{
						"name": "tc_code",
						"type": "String"
					},
					{
						"name": "tc_name",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}