LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RouteCalendar_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RouteCalendar_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SRN_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SRN_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_Sales_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_Sales_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Scale_100')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DW_Scale_100",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-13T17:57:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyRefreshSchemeJob')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DailyRefeshSchemePipeline_V2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-10-11T10:53:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleDB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scale_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:09:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								14
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleDown')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleDown_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:11:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleUp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleUp_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:10:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleDBAt5_30')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scaledb",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-17T18:03:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TAS_DB_Scale')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TAS_DB_Scale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-07-06T07:07:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								19
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TAS_DB_Scale_200DTU')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TAS_DB_Scale_200DTU",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-08-21T08:48:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TAS_Scale_10DTU')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "TAS_DB_Scale_10 DTU",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-08-26T05:18:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_DW_Resume_Scale')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DW_Resume_Scale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-05-07T04:30:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadLeapADLS-To-DB_Salesstatus_Seq')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFileDetails-Cloud1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileDetails_Single]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Checkfiles-Cloud1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileDetails-Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileDetails-Cloud1').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetFileList-Cloud1",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADLSDataset_Onefile",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
													"type": "Expression"
												},
												"directory": "cntleap",
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"itemName",
											"lastModified",
											"itemType"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If File Exists-Cloud1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileList-Cloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GetFileList-Cloud1').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "IfFileFound-Cloud1",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@string(item().FileID)",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "79",
															"activities": [
																{
																	"name": "SalesStatus_Cloud1",
																	"description": "Copy a file from the source store to the destination store.",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "DelimitedTextSource",
																			"additionalColumns": [
																				{
																					"name": "Filename",
																					"value": {
																						"value": "@activity('GetFileList-Cloud1').output.itemName",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "LastModifiedDatetime",
																					"value": {
																						"value": "@addminutes(utcnow(),330)",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "FileSetID",
																					"value": {
																						"value": "0",
																						"type": "Expression"
																					}
																				}
																			],
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true,
																				"wildcardFileName": {
																					"value": "@activity('GetFileList-Cloud1').output.itemName",
																					"type": "Expression"
																				},
																				"enablePartitionDiscovery": false
																			},
																			"formatSettings": {
																				"type": "DelimitedTextReadSettings"
																			},
																			"recursive": false
																		},
																		"sink": {
																			"type": "SqlDWSink",
																			"allowPolyBase": true,
																			"polyBaseSettings": {
																				"rejectValue": 0,
																				"rejectType": "value",
																				"useTypeDefault": true
																			},
																			"disableMetricsCollection": false
																		},
																		"enableStaging": true,
																		"stagingSettings": {
																			"linkedServiceName": {
																				"referenceName": "DFPolybaseStagingStorageLink",
																				"type": "LinkedServiceReference"
																			},
																			"path": "polybasestaging"
																		},
																		"dataIntegrationUnits": 2,
																		"translator": {
																			"type": "TabularTranslator",
																			"mappings": [
																				{
																					"source": {
																						"name": "branch_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "branch_location",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_location",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_amount",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_amount",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_status",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_status",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "Filename",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileName",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					},
																					"sink": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "FileSetID",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileSetId",
																						"type": "Int64"
																					}
																				}
																			]
																		}
																	},
																	"inputs": [
																		{
																			"referenceName": "ADLSCSVDataSource_File",
																			"type": "DatasetReference",
																			"parameters": {
																				"Container": "cntleap",
																				"Directory": {
																					"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
																					"type": "Expression"
																				},
																				"Filename": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_Destination_table",
																			"type": "DatasetReference",
																			"parameters": {
																				"tablename": {
																					"value": "@item().temptablename",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																}
															]
														}
													]
												}
											}
										]
									}
								},
								{
									"name": "SpFileImportLog_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "1",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "1",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpFileImportLog_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "If File Exists-Cloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "1",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "2",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spDataLoad_OrderSalesStatus_Cloud1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_End",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoad_OrderSalesStatus_Cloud1]"
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetFileDetails-Cloud2",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileDetails_Single]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Checkfiles-Cloud2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileDetails-Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileDetails-Cloud2').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetFileList-Cloud2",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_Cloud2_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADLSDataset_Onefile",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
													"type": "Expression"
												},
												"directory": "cntleap",
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"itemName",
											"lastModified",
											"itemType"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If File Exists-Cloud2",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileList-Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GetFileList-Cloud2').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "IfFileFound-Cloud2",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@string(item().FileID)",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "80",
															"activities": [
																{
																	"name": "SalesStatus_Cloud2",
																	"description": "Copy a file from the source store to the destination store.",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "DelimitedTextSource",
																			"additionalColumns": [
																				{
																					"name": "Filename",
																					"value": {
																						"value": "@activity('GetFileList-Cloud2').output.itemName",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "LastModifiedDatetime",
																					"value": {
																						"value": "@addminutes(utcnow(),330)",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "FileSetID",
																					"value": {
																						"value": "0",
																						"type": "Expression"
																					}
																				}
																			],
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true,
																				"wildcardFileName": {
																					"value": "@activity('GetFileList-Cloud2').output.itemName",
																					"type": "Expression"
																				},
																				"enablePartitionDiscovery": false
																			},
																			"formatSettings": {
																				"type": "DelimitedTextReadSettings"
																			},
																			"recursive": false
																		},
																		"sink": {
																			"type": "SqlDWSink",
																			"allowPolyBase": true,
																			"polyBaseSettings": {
																				"rejectValue": 0,
																				"rejectType": "value",
																				"useTypeDefault": true
																			},
																			"disableMetricsCollection": false
																		},
																		"enableStaging": true,
																		"stagingSettings": {
																			"linkedServiceName": {
																				"referenceName": "DFPolybaseStagingStorageLink",
																				"type": "LinkedServiceReference"
																			},
																			"path": "polybasestaging"
																		},
																		"dataIntegrationUnits": 2,
																		"translator": {
																			"type": "TabularTranslator",
																			"mappings": [
																				{
																					"source": {
																						"name": "branch_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "branch_location",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_location",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_amount",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_amount",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_status",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_status",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "Filename",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileName",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					},
																					"sink": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "FileSetID",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileSetId",
																						"type": "Int64"
																					}
																				}
																			]
																		}
																	},
																	"inputs": [
																		{
																			"referenceName": "ADLSCSVDataSource_File",
																			"type": "DatasetReference",
																			"parameters": {
																				"Container": "cntleap",
																				"Directory": {
																					"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
																					"type": "Expression"
																				},
																				"Filename": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_Destination_table",
																			"type": "DatasetReference",
																			"parameters": {
																				"tablename": {
																					"value": "@item().temptablename",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																}
															]
														}
													]
												}
											}
										]
									}
								},
								{
									"name": "SpFileImportLog_Cloud2_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "2",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "1",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpFileImportLog_Cloud2_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "If File Exists-Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "2",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@Item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "2",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spDataLoad_OrderSalesStatus_Cloud2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_Cloud2_End",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoad_OrderSalesStatus_Cloud2]"
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetFileDetails-Cloud3",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileDetails_Single]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "3"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Checkfiles-Cloud3",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileDetails-Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileDetails-Cloud3').output.value\n",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetFileList-Cloud3",
									"type": "GetMetadata",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_Cloud3_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ADLSDataset_Onefile",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
													"type": "Expression"
												},
												"directory": "cntleap",
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists",
											"itemName",
											"lastModified",
											"itemType"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If File Exists-Cloud3",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileList-Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GetFileList-Cloud3').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "IfFileFound-Cloud3",
												"type": "Switch",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"on": {
														"value": "@string(item().FileID)",
														"type": "Expression"
													},
													"cases": [
														{
															"value": "81",
															"activities": [
																{
																	"name": "SalesStatus_Cloud3",
																	"description": "Copy a file from the source store to the destination store.",
																	"type": "Copy",
																	"dependsOn": [],
																	"policy": {
																		"timeout": "7.00:00:00",
																		"retry": 0,
																		"retryIntervalInSeconds": 30,
																		"secureOutput": false,
																		"secureInput": false
																	},
																	"userProperties": [],
																	"typeProperties": {
																		"source": {
																			"type": "DelimitedTextSource",
																			"additionalColumns": [
																				{
																					"name": "Filename",
																					"value": {
																						"value": "@activity('GetFileList-Cloud3').output.itemName",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "LastModifiedDatetime",
																					"value": {
																						"value": "@addminutes(utcnow(),330)",
																						"type": "Expression"
																					}
																				},
																				{
																					"name": "FileSetID",
																					"value": {
																						"value": "0",
																						"type": "Expression"
																					}
																				}
																			],
																			"storeSettings": {
																				"type": "AzureBlobFSReadSettings",
																				"recursive": true,
																				"wildcardFileName": {
																					"value": "@activity('GetFileList-Cloud3').output.itemName",
																					"type": "Expression"
																				},
																				"enablePartitionDiscovery": false
																			},
																			"formatSettings": {
																				"type": "DelimitedTextReadSettings"
																			},
																			"recursive": false
																		},
																		"sink": {
																			"type": "SqlDWSink",
																			"allowPolyBase": true,
																			"polyBaseSettings": {
																				"rejectValue": 0,
																				"rejectType": "value",
																				"useTypeDefault": true
																			},
																			"disableMetricsCollection": false
																		},
																		"enableStaging": true,
																		"stagingSettings": {
																			"linkedServiceName": {
																				"referenceName": "DFPolybaseStagingStorageLink",
																				"type": "LinkedServiceReference"
																			},
																			"path": "polybasestaging"
																		},
																		"dataIntegrationUnits": 2,
																		"translator": {
																			"type": "TabularTranslator",
																			"mappings": [
																				{
																					"source": {
																						"name": "branch_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "branch_location",
																						"type": "String"
																					},
																					"sink": {
																						"name": "branch_location",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "dse_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "dse_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "so_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "so_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "expected_delivery_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_no",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_no",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_date",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_date",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_amount",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_amount",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "invoice_status",
																						"type": "String"
																					},
																					"sink": {
																						"name": "invoice_status",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "retailer_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "retailer_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_code",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_code",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "channel_name",
																						"type": "String"
																					},
																					"sink": {
																						"name": "channel_name",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "Filename",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileName",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					},
																					"sink": {
																						"name": "LastModifiedDatetime",
																						"type": "String"
																					}
																				},
																				{
																					"source": {
																						"name": "FileSetID",
																						"type": "String"
																					},
																					"sink": {
																						"name": "FileSetId",
																						"type": "Int64"
																					}
																				}
																			]
																		}
																	},
																	"inputs": [
																		{
																			"referenceName": "ADLSCSVDataSource_File",
																			"type": "DatasetReference",
																			"parameters": {
																				"Container": "cntleap",
																				"Directory": {
																					"value": "@concat('/', formatDateTime(item().DataDate, 'yyyy'), '/', formatDateTime(item().DataDate, 'MM'), '/', formatDateTime(item().DataDate,'dd'), '/')",
																					"type": "Expression"
																				},
																				"Filename": {
																					"value": "@item().name",
																					"type": "Expression"
																				}
																			}
																		}
																	],
																	"outputs": [
																		{
																			"referenceName": "DS_Destination_table",
																			"type": "DatasetReference",
																			"parameters": {
																				"tablename": {
																					"value": "@item().temptablename",
																					"type": "Expression"
																				}
																			}
																		}
																	]
																}
															]
														}
													]
												}
											}
										]
									}
								},
								{
									"name": "SpFileImportLog_Cloud3_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "3",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "1",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpFileImportLog_Cloud3_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "If File Exists-Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpFileImportLog]",
										"storedProcedureParameters": {
											"CloudInstance": {
												"value": "3",
												"type": "Byte"
											},
											"DataDate": {
												"value": {
													"value": "@item().DataDate",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"FileID": {
												"value": {
													"value": "@item().FileID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"flgStartStop": {
												"value": "2",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spDataLoad_OrderSalesStatus_Cloud3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SpFileImportLog_Cloud3_End",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoad_OrderSalesStatus_Cloud3]"
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIDataProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API All Extract Data Populate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateAPIAllExtract]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "APIDataFileGeneration",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterDataForAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "APIDataFileGeneration",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MasterDataForAPI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "API All Extract Data Populate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterDataForAPI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "API"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIDeleteOLDFilesinFolder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DataDatetime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DeleteDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TimeToday",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),1,'Day'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DeleteDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DataDeleteDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),8,'Day'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DeleteAllFilesinFolder",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DataDatetime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DeleteAllFilesinFolder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Containername": {
									"value": "apidatacontainer",
									"type": "Expression"
								},
								"Foldername": {
									"value": "@{concat(formatDateTime(variables('DataDeleteDate'), 'yyyy'), '/', formatDateTime(variables('DataDeleteDate'), 'MM'), '/', formatDateTime(variables('DataDeleteDate'), 'dd'))}",
									"type": "Expression"
								},
								"DataDeleteDate": {
									"value": "@variables('DataDeleteDate')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"TimeToday": {
						"type": "String"
					},
					"DataDeleteDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "API"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ATTNDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateATTNData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "SpTruncateATTNData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateAATNData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-02T07:41:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCRDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateCCRData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "CCRDataLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpTruncateCCRData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateCCRData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:11:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyLeapStaging-To-ADLS-AllCloudFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeapStaging-To-ADLS-AllFile-Cloud1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Cloud1",
									"wildcardFileName": "*.csv",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset_File_V2_Cloud1",
								"type": "DatasetReference",
								"parameters": {
									"filename": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.Directory",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopyLeapStaging-To-ADLS-AllFile-Cloud2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Cloud2",
									"wildcardFileName": "*.csv",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset_File_V2_Cloud2",
								"type": "DatasetReference",
								"parameters": {
									"filename": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.Directory",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "CopyLeapStaging-To-ADLS-AllFile-Cloud3",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Cloud3",
									"wildcardFileName": "*.csv",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "LeapStorageSourceDataset_File_V2_Cloud3",
								"type": "DatasetReference",
								"parameters": {
									"filename": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSDataset",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.Folder",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.Directory",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteStagingAllFile",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS-AllFile-Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyLeapStaging-To-ADLS-AllFile-Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyLeapStaging-To-ADLS-AllFile-Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DeleteStagingAllFile",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Directory": {
						"type": "string"
					},
					"Folder": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-10T06:17:28Z"
			},
			"dependsOn": []
		}
	]
}