LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test_Loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpFilecheck]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "flgDone",
							"value": {
								"value": "@string(activity('Lookup1').output.firstRow.flgDone)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(int(variables('flgDone')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set variable1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpinsertLog]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 15
									}
								},
								{
									"name": "Lookup1_copy1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpFilecheck]",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "TASDBConnection",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set variable1_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Lookup1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgDone",
										"value": {
											"value": "@activity('Lookup1_copy1').output.firstRow.flgDone",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"variables": {
					"flgDone": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "tblINITClusterMaster",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INITClusterID",
											"type": "Int32"
										},
										"sink": {
											"name": "INITClusterID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ClusterName",
											"type": "String"
										},
										"sink": {
											"name": "ClusterName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITFileList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITClusterMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GrpSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "GrpSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "GroupName",
											"type": "String"
										},
										"sink": {
											"name": "GroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "FileSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileTypeID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileTypeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDChannelMapping",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelID",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDCodeMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDChannelMapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDName",
											"type": "String"
										},
										"sink": {
											"name": "SBDName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EffectiveFrom",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveFrom",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "EffectiveTo",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveTo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDGroupMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDCodeMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupName",
											"type": "String"
										},
										"sink": {
											"name": "SBDGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDSBFList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDGroupMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDStoreWiseGaps",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDSBFList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "BranchNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeType",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblStoreMaster_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDStoreWiseGaps",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutstandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutstandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address 2",
											"type": "String"
										},
										"sink": {
											"name": "Address 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Class",
											"type": "String"
										},
										"sink": {
											"name": "Customer Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRCPChannel",
											"type": "String"
										},
										"sink": {
											"name": "DRCPChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Type",
											"type": "String"
										},
										"sink": {
											"name": "Customer Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town",
											"type": "String"
										},
										"sink": {
											"name": "Town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town Class",
											"type": "String"
										},
										"sink": {
											"name": "Town Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tin No",
											"type": "String"
										},
										"sink": {
											"name": "Tin No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drug Licence No",
											"type": "String"
										},
										"sink": {
											"name": "Drug Licence No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GSTIN No",
											"type": "String"
										},
										"sink": {
											"name": "GSTIN No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pan No",
											"type": "String"
										},
										"sink": {
											"name": "Pan No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CoverageType",
											"type": "String"
										},
										"sink": {
											"name": "CoverageType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date Of Birth",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date Of Birth",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Sectorization",
											"type": "String"
										},
										"sink": {
											"name": "Sectorization",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "My_Channel",
											"type": "String"
										},
										"sink": {
											"name": "My_Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dse_Type",
											"type": "String"
										},
										"sink": {
											"name": "Dse_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STL_Code",
											"type": "String"
										},
										"sink": {
											"name": "STL_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Lat",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Lat",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Long",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Long",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark4",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark5",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL No",
											"type": "String"
										},
										"sink": {
											"name": "DL No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark7",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distance in KM",
											"type": "String"
										},
										"sink": {
											"name": "Distance in KM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark10",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pin Code",
											"type": "String"
										},
										"sink": {
											"name": "Pin Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MKT Name",
											"type": "String"
										},
										"sink": {
											"name": "MKT Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrgStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "OrgStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReplaceStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "ReplaceStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "subchannel_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_name",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_Radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_Radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOCM_Cloud1",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": {
											"value": "@string('LOCM_cloud01_2021feb18.csv')\n",
											"type": "Expression"
										}
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									{
										"name": "FileID",
										"value": "1"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "LOCM_cloud01_*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country_name",
											"type": "String"
										},
										"sink": {
											"name": "country_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division_name",
											"type": "String"
										},
										"sink": {
											"name": "division_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region_code",
											"type": "String"
										},
										"sink": {
											"name": "region_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "site_code",
											"type": "String"
										},
										"sink": {
											"name": "site_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "site_name",
											"type": "String"
										},
										"sink": {
											"name": "site_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distributor_code",
											"type": "String"
										},
										"sink": {
											"name": "distributor_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distributor_name",
											"type": "String"
										},
										"sink": {
											"name": "distributor_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_name",
											"type": "String"
										},
										"sink": {
											"name": "branch_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileID",
											"type": "String"
										},
										"sink": {
											"name": "FileSetId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "Filename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_LOCM_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_AR_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_AR_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_FocusHitRate_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_FocusHitRate_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RETAILER_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RETAILER_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RetailingTarget_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RetailingTarget_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RouteCalendar_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RouteCalendar_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SRN_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SRN_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_Sales_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_Sales_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleDBAt5_30')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scaledb",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-17T18:03:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_DW_Resume_Scale')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DW_Resume_Scale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-05-07T04:30:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PnGExternalDataCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"maxRowsPerFile": 1000000,
									"fileNamePrefix": "DBR",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "tmpDataForrakesh_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tmpDataForrakesh_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "PnGExternalData"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovementDaily_31Jul2021')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_CubeProcess_Sync_Fact",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AS_CubeProcess_Sync_Fact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ATTNDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateATTNData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "SpTruncateATTNData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateAATNData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-07-02T07:41:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCRDataMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpTruncateCCRData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "CCRDataLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpTruncateCCRData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpTruncateCCRData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:11:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyNCS_ASTIX_To_DF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NC_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BRANCHCODE",
											"type": "String"
										},
										"sink": {
											"name": "BRANCHCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SUBDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SUBDNAME",
											"type": "String"
										},
										"sink": {
											"name": "SUBDNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_Sales_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECODE",
											"type": "String"
										},
										"sink": {
											"name": "DSECODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVNO",
											"type": "String"
										},
										"sink": {
											"name": "INVNO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "INVDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SKUCCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUCCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SKUDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SKUEANCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUEANCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BATCHCODE",
											"type": "String"
										},
										"sink": {
											"name": "BATCHCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "Int32"
										},
										"sink": {
											"name": "QTY",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSAMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TAXAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "TAXAMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INITDISC",
											"type": "Decimal"
										},
										"sink": {
											"name": "INITDISC",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINEDISC",
											"type": "Decimal"
										},
										"sink": {
											"name": "LINEDISC",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETAMOUNT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INVREF",
											"type": "String"
										},
										"sink": {
											"name": "INVREF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_Sales_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_Sales_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_SRN_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECODE",
											"type": "String"
										},
										"sink": {
											"name": "DSECODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SRNNO",
											"type": "String"
										},
										"sink": {
											"name": "SRNNO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVNO",
											"type": "String"
										},
										"sink": {
											"name": "INVNO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SRNDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SRNDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SKUCCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUCCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SKUDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SKUEANCODE",
											"type": "String"
										},
										"sink": {
											"name": "SKUEANCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BATCHCODE",
											"type": "String"
										},
										"sink": {
											"name": "BATCHCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "Int32"
										},
										"sink": {
											"name": "QTY",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "GROSSINVAMT",
											"type": "Decimal"
										},
										"sink": {
											"name": "GROSSINVAMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NETINVAMT",
											"type": "Decimal"
										},
										"sink": {
											"name": "NETINVAMT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LINEDISC",
											"type": "Decimal"
										},
										"sink": {
											"name": "LINEDISC",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "INITDISC",
											"type": "Decimal"
										},
										"sink": {
											"name": "INITDISC",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TAXES",
											"type": "Decimal"
										},
										"sink": {
											"name": "TAXES",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UPC",
											"type": "Int32"
										},
										"sink": {
											"name": "UPC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RETAILING",
											"type": "Decimal"
										},
										"sink": {
											"name": "RETAILING",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_SRN_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_SRN_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_AR_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CUSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AR",
											"type": "Decimal"
										},
										"sink": {
											"name": "AR",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_AR_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_AR_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_FocusHitRate_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DistributorBranchCode",
											"type": "String"
										},
										"sink": {
											"name": "DistributorBranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MONTH",
											"type": "Int32"
										},
										"sink": {
											"name": "MONTH",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32"
										},
										"sink": {
											"name": "Year",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SubDistributorCode",
											"type": "String"
										},
										"sink": {
											"name": "SubDistributorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SellerCode",
											"type": "String"
										},
										"sink": {
											"name": "SellerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SellerRoute",
											"type": "Int32"
										},
										"sink": {
											"name": "SellerRoute",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SellerSector",
											"type": "Int32"
										},
										"sink": {
											"name": "SellerSector",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Brand",
											"type": "String"
										},
										"sink": {
											"name": "Brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String"
										},
										"sink": {
											"name": "Category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BrandInitiativeCode",
											"type": "String"
										},
										"sink": {
											"name": "BrandInitiativeCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BrandInitiativeName",
											"type": "String"
										},
										"sink": {
											"name": "BrandInitiativeName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LocalSubchannelCode",
											"type": "String"
										},
										"sink": {
											"name": "LocalSubchannelCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerType",
											"type": "String"
										},
										"sink": {
											"name": "CustomerType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NormWiseTargetPer",
											"type": "Decimal"
										},
										"sink": {
											"name": "NormWiseTargetPer",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "DstrbnTargetPer",
											"type": "Int32"
										},
										"sink": {
											"name": "DstrbnTargetPer",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreFocusBrandOpportunity",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreFocusBrandOpportunity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreFocusBrandHit",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreFocusBrandHit",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreGap",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreGap",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_FocusHitRate_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_FocusHitRate_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_RetailingTarget_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubDCode",
											"type": "String"
										},
										"sink": {
											"name": "SubDCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SellerCode",
											"type": "String"
										},
										"sink": {
											"name": "SellerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerCode",
											"type": "String"
										},
										"sink": {
											"name": "CustomerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RetailingTarget",
											"type": "Int32"
										},
										"sink": {
											"name": "RetailingTarget",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SelectedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SelectedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_RetailingTarget_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_RetailingTarget_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_RouteCalendar_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SubDCode",
											"type": "String"
										},
										"sink": {
											"name": "SubDCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SellerCode",
											"type": "String"
										},
										"sink": {
											"name": "SellerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteNumber",
											"type": "Int32"
										},
										"sink": {
											"name": "RouteNumber",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerCode",
											"type": "String"
										},
										"sink": {
											"name": "CustomerCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visitDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "visitDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SectorCode",
											"type": "Int32"
										},
										"sink": {
											"name": "SectorCode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SelectedDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "SelectedDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_RouteCalendar_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_RouteCalendar_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "NC_RETAILER_SUBD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"additionalColumns": [
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBDCODE",
											"type": "String"
										},
										"sink": {
											"name": "SUBDCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTNAME",
											"type": "String"
										},
										"sink": {
											"name": "CUSTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CHANNEL",
											"type": "String"
										},
										"sink": {
											"name": "CHANNEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSE",
											"type": "String"
										},
										"sink": {
											"name": "DSE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOWN",
											"type": "String"
										},
										"sink": {
											"name": "TOWN",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TOWNCLASS",
											"type": "String"
										},
										"sink": {
											"name": "TOWNCLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AREA",
											"type": "String"
										},
										"sink": {
											"name": "AREA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COVERAGESTS",
											"type": "String"
										},
										"sink": {
											"name": "COVERAGESTS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "SELECTEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CUSTCLASS",
											"type": "String"
										},
										"sink": {
											"name": "CUSTCLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MRAccCde",
											"type": "String"
										},
										"sink": {
											"name": "MRAccCde",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECde",
											"type": "String"
										},
										"sink": {
											"name": "DSECde",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "String"
										},
										"sink": {
											"name": "Latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "String"
										},
										"sink": {
											"name": "Longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_NC_RETAILER_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_NC_RETAILER_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "NCS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_NC_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_Sales_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_SRN_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_AR_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_FocusHitRate_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_RetailingTarget_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_RouteCalendar_SUBD')]",
				"[concat(variables('factoryId'), '/datasets/DS_NC_RETAILER_SUBD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyRTDXS3-To-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRTDXS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyRTDXS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyRTDXS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyRTDXS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-06-01T01:07:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-06-01T01:07:46Z"
			},
			"dependsOn": []
		}
	]
}