LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AS_CubeProcess_LogicApp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_CubeProcess_LogicApp",
						"type": "WebHook",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://ascuberefreshtest.azurewebsites.net:443/api/datafoundationcuberefresh/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=SBjcXfAb33-HN8MOYfp3z-DZpTPG6EAq0oDPSSsnNNQ",
							"method": "POST",
							"headers": {},
							"body": {
								"TypeID": "14"
							},
							"timeout": "01:00:00",
							"reportStatusOnCallBack": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_CubeProcess_Pcode_Sync_Fact_30May2023')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_CubeProcess_Pcode_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"httpRequestTimeout": "00:05:00",
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes",
								"type": "Expression"
							},
							"body": {
								"value": "{\n        \"Type\": \"Full\",\n        \"CommitMode\": \"transactional\",\n        \"MaxParallelism\": 8,\n        \"RetryCount\": 2,\n        \"Objects\": [\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCoverage\",\n                \"partition\": \"FactCoverage_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCoverageStoreLvl\",\n                \"partition\": \"FactCoverageStoreLvl_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactARData\",\n                \"partition\": \"FactARData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCFR\",\n                \"partition\": \"FactCFRData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactCOS\",\n                \"partition\": \"FactCOSData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactFocusBrandData\",\n                \"partition\": \"FactFocusBrandData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactInventory\",\n                \"partition\": \"FactInventory_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactSBDData\",\n                \"partition\": \"FactSBDData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactStoreLvlSBDData\",\n                \"partition\": \"FactStoreLvlSBDData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactTargetData\",\n                \"partition\": \"FactTargetData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactOrderData\",\n                \"partition\": \"FactOrderData_202305\"\n            },\n            {\n                \"database\": \"PG_DA_Olap_PCodeLvl\",\n                \"table\": \"tblFactStoreDistributionDetails\",\n                \"partition\": \"FactStoreDistribution_202305\"\n            }\n        ]\n    }",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "GetRefreshId",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "AS_CubeProcess_Pcode_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {
								"Content-Type": "application/json"
							},
							"httpRequestTimeout": "00:05:00",
							"url": {
								"value": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes",
								"type": "Expression"
							},
							"body": {
								"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					},
					{
						"name": "Set Array VarOuter",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetRefreshId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ArrayVar",
							"value": {
								"value": "@json(activity('GetRefreshId').output.Response)\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Status variableOuter",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Array VarOuter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "status",
							"value": {
								"value": "@variables('ArrayVar')[0].status",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set RefreshId variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set Status variableOuter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RefreshId",
							"value": {
								"value": "@variables('ArrayVar')[0].refreshId",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set RefreshId variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(or(equals(variables('status'),'inProgress'),equals(variables('status'),'notStarted')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CubeProcessingCheck",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {
											"Content-Type": "application/json"
										},
										"httpRequestTimeout": "00:05:00",
										"url": {
											"value": "@concat('https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DA_Olap_PCodeLvl/refreshes/',variables('RefreshId'))",
											"type": "Expression"
										},
										"body": {
											"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://*.asazure.windows.net"
										}
									}
								},
								{
									"name": "Set Array VarOuter_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CubeProcessingCheck",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "status",
										"value": {
											"value": "@activity('CubeProcessingCheck').output.status",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set Array VarOuter_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('status'),'inProgress')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait5min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 300
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"flgcalled": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"ArrayVar": {
						"type": "Array",
						"defaultValue": [
							"test"
						]
					},
					"status": {
						"type": "String",
						"defaultValue": "inProgress"
					},
					"RefreshId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_CubeProcess_RESTAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_CubeProcess_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://aspaaseastus2.asazure.windows.net/servers/dbrdashboard/models/PG_DMS/sync",
							"body": {
								"value": "{\"Type\":\"Full\",\"CommitMode\":\"transactional\",\"MaxParallelism\":2,\"RetryCount\":2,\"Objects\":[{\"database\":\"PG_DMS\",\"table\":\"tblFactCFR\",\"partition\":\"PartitionCurrentQuarter_FactCFRData\"},{\"database\":\"PG_DMS\",\"table\":\"tblFactCOS\",\"partition\":\"PartitionCurrentQuarter_FactCOSData\"}]}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://*.asazure.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_Pause')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Pause_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/Suspend?api-version=2017-08-01",
							"body": {
								"value": "{\"Dummy\":\"Dummy\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_Resume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Resume_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/resume?api-version=2017-08-01",
							"body": {
								"value": "{\"Dummy\":\"Dummy\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_ResumeandScale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Status_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\"Dummy\":\"Dummy\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					},
					{
						"name": "Set AS State",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "State",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.properties.state",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS Paused",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set AS State",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set AS SKU",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('State'),'Paused')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Resume_ActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/resume?api-version=2017-08-01",
										"body": {
											"value": "{\"Dummy\":\"Dummy\"}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								},
								{
									"name": "Wait AS Resuming",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Resume_ActivityAPI",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					},
					{
						"name": "Set AS SKU",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SKU",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.sku.name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS not S9",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "If AS Paused",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('SKU'),'S9'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Scale_S9",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PATCH",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
										"body": {
											"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S9\",\n      \"tier\":\"Standard\"\n   }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								},
								{
									"name": "Wait_AS_Scaling",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Scale_S9",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"State": {
						"type": "String"
					},
					"SKU": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_ResumeandScale_S4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Status_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\"Dummy\":\"Dummy\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					},
					{
						"name": "Set AS State",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "State",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.properties.state",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS Paused",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set AS State",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set AS SKU",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('State'),'Paused')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Resume_ActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/resume?api-version=2017-08-01",
										"body": {
											"value": "{\"Dummy\":\"Dummy\"}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								},
								{
									"name": "Wait AS Resuming",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Resume_ActivityAPI",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					},
					{
						"name": "Set AS SKU",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SKU",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.sku.name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS not S4",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "If AS Paused",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('SKU'),'S4'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Scale_S4",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PATCH",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
										"body": {
											"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S4\",\n      \"tier\":\"Standard\"\n   }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								},
								{
									"name": "Wait_AS_Scaling",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Scale_S4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"State": {
						"type": "String"
					},
					"SKU": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_ResumeandScale_S8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Status_ActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\"Dummy\":\"Dummy\"}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					},
					{
						"name": "Set AS State",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "State",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.properties.state",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS Paused",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set AS State",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set AS SKU",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('State'),'Paused')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Resume_ActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/resume?api-version=2017-08-01",
										"body": {
											"value": "{\"Dummy\":\"Dummy\"}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								},
								{
									"name": "Wait AS Resuming",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Resume_ActivityAPI",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					},
					{
						"name": "Set AS SKU",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "AS_Status_ActivityAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SKU",
							"value": {
								"value": "@activity('AS_Status_ActivityAPI').output.sku.name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If AS not S8",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "If AS Paused",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(equals(variables('SKU'),'S8'))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AS_Scale_S8",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PATCH",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-AnalysisServiceDataFoundation/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
										"body": {
											"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S8\",\n      \"tier\":\"Standard\"\n   }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								},
								{
									"name": "Wait_AS_Scaling",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "AS_Scale_S8",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 300
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"State": {
						"type": "String"
					},
					"SKU": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_Scale_S2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Scale_S2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PATCH",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S2\",\n      \"tier\":\"Standard\"\n   }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_Scale_S4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Scale_S4",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PATCH",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S4\",\n      \"tier\":\"Standard\"\n   }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AS_Scale_S8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AS_Scale_S8",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PATCH",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DBRDashboard/providers/Microsoft.AnalysisServices/servers/dbrdashboard/?api-version=2017-08-01",
							"body": {
								"value": "{\n   \"sku\":{\n      \"capacity\":1,\n      \"name\":\"S8\",\n      \"tier\":\"Standard\"\n   }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Pause')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PauseActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/DataFoundation/pause?api-version=2020-08-01-preview",
							"body": "{\n\tlocation: \"eastus2\"\n}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Resume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ResumeActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/DataFoundation/resume?api-version=2020-08-01-preview",
							"body": "{\n\tlocation: \"eastus2\"\n}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Resume_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ResumeActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/datafoundation/resume?api-version=2020-08-01-preview",
							"body": "{\n\tlocation: \"eastus2\"\n}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Scale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ScaleActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/datafoundation?api-version=2020-08-01-preview",
							"body": {
								"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\"\n    }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Scale_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ScaleActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": " https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/datafoundation?api-version=2020-08-01-preview",
							"body": {
								"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\"\n    }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.flgcalled,1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ScaleActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/2e023a7b-a46d-4e62-9df0-5adedfa7a8ee/resourceGroups/RG-TAS/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S7"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					},
					"flgcalled": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale_Condition')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains('0',string(dayOfWeek(utcNow())))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ScaleActivityAPI_copy1",
									"type": "WebActivity",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"S6\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								},
								{
									"name": "ScaleActivityAPI_New",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ScaleActivityAPI_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"GP_Gen5_4\",\n    \"tier\": \"GeneralPurpose\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ScaleActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/2e023a7b-a46d-4e62-9df0-5adedfa7a8ee/resourceGroups/RG-TAS/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"S4\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S4"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					},
					"flgcalled": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale_Maximus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ScaleActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/db_PG_Maximus?api-version=2021-02-01-preview",
							"body": {
								"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S3"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Failure EMail",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/5a488296c4474ca593f4be3afc0679ef/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZMhGXlUFHacBwc8UHzK-pruXajyDxJnWeYziG6qSF_s",
							"body": {
								"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"@{pipeline().parameters.Subject}\",\n   \"ErrorMessage\": \"@{pipeline().parameters.ErrorMessage}\",\n   \"EmailTo\": \"@{pipeline().parameters.EmailTo}\"\n}\t",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "Avinash@Astix.in,Alok@Astix.in"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "LEAP File Processing Error"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "All Files not Processed"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-28T11:18:23Z"
			},
			"dependsOn": []
		}
	]
}