LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		},
		"APIDB_LinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'APIDB_LinkedService'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pngdatafoundation.database.windows.net;Initial Catalog=db_DFAPI"
		},
		"APIDB_LinkedService_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'APIDB_LinkedService'"
		},
		"AstixLiveServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AstixLiveServer'"
		},
		"AzurePepsiLink_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzurePepsiLink'"
		},
		"DFDatafoundation_Anuj_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DFDatafoundation_Anuj'"
		},
		"DFPolybaseStagingStorageLink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DFPolybaseStagingStorageLink'"
		},
		"DataFoundationDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DataFoundationDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pngdatafoundation.database.windows.net;Initial Catalog=DataFoundation"
		},
		"DataFoundationDB_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'DataFoundationDB'"
		},
		"DataFoundation_backup23Jul_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'DataFoundation_backup23Jul'"
		},
		"Dev_DataFoundationDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Dev_DataFoundationDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pngdatafoundation.database.windows.net;Initial Catalog=DataFoundation"
		},
		"Dev_DataFoundationDB_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'Dev_DataFoundationDB'"
		},
		"HawkEye_LinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'HawkEye_LinkedService'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=pngdatafoundation.database.windows.net;Initial Catalog=db_PG_HawkeyePWA"
		},
		"HawkEye_LinkedService_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HawkEye_LinkedService'"
		},
		"HawkeyeDBOn67_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'HawkeyeDBOn67'"
		},
		"APIDB_LinkedService_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"APIDB_LinkedService_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		},
		"AzurePepsiLink_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pepsi-sfa.database.windows.net"
		},
		"AzurePepsiLink_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db_Pepsi_RuralVistaar_2"
		},
		"AzurePepsiLink_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "astixadmin"
		},
		"CCRDataStorageLink_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'CCRDataStorageLink'"
		},
		"DataFoundationDB_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"DataFoundationDB_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		},
		"DataFoundation_backup23Jul_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pngdatafoundation.database.windows.net"
		},
		"DataFoundation_backup23Jul_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "datafoundation_BackupAsOn23Jul"
		},
		"DataFoundation_backup23Jul_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "4be52bb2-b61f-46c8-b09a-eefdfd6082a1"
		},
		"DataFoundation_backup23Jul_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		},
		"Dev_DataFoundationDB_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"Dev_DataFoundationDB_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		},
		"HawkEye_LinkedService_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "7ec6607e-638a-46bf-9ff0-ea38bacb5ea9"
		},
		"HawkEye_LinkedService_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "515445df-f272-4c96-aa97-d670cbdeab20"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PowerBI_Resume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PowerBI_Resume",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-PowerBIDataFoundation/providers/Microsoft.PowerBIDedicated/capacities/powerbidbrdashboard/resume?api-version=2021-01-01",
							"body": {
								"value": "{}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"State": {
						"type": "String"
					},
					"SKU": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.flgcalled,1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ScaleActivityAPI",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/2e023a7b-a46d-4e62-9df0-5adedfa7a8ee/resourceGroups/RG-TAS/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S7"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					},
					"flgcalled": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale_Condition')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains('0',string(dayOfWeek(utcNow())))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ScaleActivityAPI_copy1",
									"type": "WebActivity",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/15354be3-bb86-4045-a1a1-7bf7d9ba1c31/resourceGroups/DataFoundation/providers/Microsoft.Sql/servers/pgdatafoundation/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"S6\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								},
								{
									"name": "ScaleActivityAPI_New",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "ScaleActivityAPI_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/2e023a7b-a46d-4e62-9df0-5adedfa7a8ee/resourceGroups/RG-TAS/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"GP_Gen5_6\",\n    \"tier\": \"GeneralPurpose\"\n    }\n}",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ScaleActivityAPI",
									"type": "WebActivity",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "PUT",
										"headers": {},
										"url": "https://management.azure.com/subscriptions/2e023a7b-a46d-4e62-9df0-5adedfa7a8ee/resourceGroups/RG-TAS/providers/Microsoft.Sql/servers/pngtas/databases/db_PG_DMS_TeleCalling?api-version=2021-02-01-preview",
										"body": {
											"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"GP_Gen5_2\",\n    \"tier\": \"GeneralPurpose\"\n    }\n}\n",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.core.windows.net"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S4"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					},
					"flgcalled": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Scale_Maximus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ScaleActivityAPI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/e583c6f4-b206-4e2c-9b1c-c305cc06dd08/resourceGroups/RG-SQLDataFoundation/providers/Microsoft.Sql/servers/pngdatafoundation/databases/db_PG_Maximus?api-version=2021-02-01-preview",
							"body": {
								"value": "{\n\tlocation: \"eastus2\",\n    \"sku\": {\n    \"name\": \"@{pipeline().parameters.Scaleval}\",\n    \"tier\": \"@{pipeline().parameters.tier}\"\n    }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Scaleval": {
						"type": "string",
						"defaultValue": "S3"
					},
					"tier": {
						"type": "string",
						"defaultValue": "Standard"
					}
				},
				"folder": {
					"name": "Resource Management"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SecondPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Failure EMail",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/5a488296c4474ca593f4be3afc0679ef/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZMhGXlUFHacBwc8UHzK-pruXajyDxJnWeYziG6qSF_s",
							"body": {
								"value": "{\n   \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n   \"PipelineName\": \"@{pipeline().Pipeline}\",\n   \"Subject\": \"@{pipeline().parameters.Subject}\",\n   \"ErrorMessage\": \"@{pipeline().parameters.ErrorMessage}\",\n   \"EmailTo\": \"@{pipeline().parameters.EmailTo}\"\n}\t",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "Avinash@Astix.in,Alok@Astix.in"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "LEAP File Processing Error"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "All Files not Processed"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-10-28T11:18:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Date",
							"value": {
								"value": "@formatDateTime(pipeline().parameters.DataProcessDate, 'yyyyMM')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					}
				},
				"variables": {
					"Date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Testpipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TimeToday",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TimeToday",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),1,'Day'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FolderDate",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TimeToday",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "FolderDate",
							"value": {
								"value": "@concat('/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'MM'), '/', formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'dd'), '/')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until 8_30",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('flgTimeOK'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition3",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'HH:mm:ss'),'11:12:00')\n",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait 5 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 300
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "flgTimeOK",
													"value": {
														"value": "@bool(1)",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					}
				},
				"variables": {
					"TimeToday": {
						"type": "String"
					},
					"FolderDate": {
						"type": "String"
					},
					"flgTimeOK": {
						"type": "Boolean",
						"defaultValue": false
					},
					"hour": {
						"type": "Integer",
						"defaultValue": 0
					},
					"minute": {
						"type": "Integer",
						"defaultValue": 0
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaitTillPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until TimeValue",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('flgTimeOK'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition3",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'HH:mm:ss'),pipeline().parameters.TimeValue)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait 5 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 300
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "flgTimeOK",
													"value": {
														"value": "@bool(1)",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TimeValue": {
						"type": "string"
					}
				},
				"variables": {
					"flgTimeOK": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIDB_LinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('APIDB_LinkedService_connectionString')]",
					"servicePrincipalId": "[parameters('APIDB_LinkedService_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('APIDB_LinkedService_servicePrincipalKey')]"
					},
					"tenant": "[parameters('APIDB_LinkedService_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AstixLiveServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AstixLiveServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePepsiLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzurePepsiLink_properties_typeProperties_server')]",
					"database": "[parameters('AzurePepsiLink_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzurePepsiLink_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzurePepsiLink_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CCRDataStorageLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('CCRDataStorageLink_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFDatafoundation_Anuj')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('DFDatafoundation_Anuj_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFPolybaseStagingStorageLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DFPolybaseStagingStorageLink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFoundationDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('DataFoundationDB_connectionString')]",
					"servicePrincipalId": "[parameters('DataFoundationDB_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('DataFoundationDB_servicePrincipalKey')]"
					},
					"tenant": "[parameters('DataFoundationDB_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFoundation_backup23Jul')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('DataFoundation_backup23Jul_properties_typeProperties_server')]",
					"database": "[parameters('DataFoundation_backup23Jul_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "ServicePrincipal",
					"servicePrincipalId": "[parameters('DataFoundation_backup23Jul_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('DataFoundation_backup23Jul_servicePrincipalCredential')]"
					},
					"tenant": "[parameters('DataFoundation_backup23Jul_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dev_DataFoundationDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('Dev_DataFoundationDB_connectionString')]",
					"servicePrincipalId": "[parameters('Dev_DataFoundationDB_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('Dev_DataFoundationDB_servicePrincipalKey')]"
					},
					"tenant": "[parameters('Dev_DataFoundationDB_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HawkEye_LinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('HawkEye_LinkedService_connectionString')]",
					"servicePrincipalId": "[parameters('HawkEye_LinkedService_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HawkEye_LinkedService_servicePrincipalKey')]"
					},
					"tenant": "[parameters('HawkEye_LinkedService_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HawkeyeDBOn67')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('HawkeyeDBOn67_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}