LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataMovement_DF-TO-TAS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataMovement_DF-TO-TAS",
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('IFDataTransferCanDone').output.firstRow.flgPngDataTransfer)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecuteBeforeSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteBeforeTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Copy DF-To-TAS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "TruncateTASTempTables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Copytables-DF-TO-TAS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "ExecuteAfterSp",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Copy DF-To-TAS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpExecuteAfterTransfer]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncateTempTables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteBeforeSp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spTruncateLeapMasterTables]"
									},
									"linkedServiceName": {
										"referenceName": "PnGDataFoundation",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "TruncateTASTempTables",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "TruncateTempTables",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spTruncateTransferTables]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update Transfer Flag",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDFUpdateFlag]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:39:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FinalDFProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "spTAS_DailyDataRefreshSalesData-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_DailyDataRefreshSalesData]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spRolloverDataLoad-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spTAS_MapTeleCallingInvDetail-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spLoadRollOverDayZeroData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spRunForFiveStar-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spRolloverDataLoad-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spRunForFiveStar]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spCalculateLSSSchemeAgainstActData-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spRunForFiveStar-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spCalculateLSSSchemeAgainstActData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spCalculateLuckDrawStore-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spTAS_UpdateTeleCallingActGPPoints-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spCalculateLuckDrawStore]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDF_GenerateInvWiseNetSales-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDF_GenerateInvWiseNetSales]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDFTAS_PopulateSBDWorkingData-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDF_GenerateInvWiseNetSales-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDFTAS_PopulateSBDWorkingData]",
							"storedProcedureParameters": {
								"RptMonthYear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_PopulateSBDGaps-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDFTAS_PopulateSBDWorkingData-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_PopulateSBDGaps]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spAPI_PopulateExtractIDCMP-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spAPI_PopulateExtractIDCMP]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spAS_PopulateDimTables-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spAS_PopulateDimTables]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spAS_PopulateFactTables-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spAS_PopulateDimTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spTAS_MapTeleCallingInvDetail-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateTASFutureDateInRouteCalendar-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spAS_PopulateFactTables]",
							"storedProcedureParameters": {
								"DMinus1Date": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spAPI_PopulateAPIBaseTables-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spAS_PopulateFactTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spAPI_PopulateAPIBaseTables]",
							"storedProcedureParameters": {
								"DMinusOneDate": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.DMinusOneDate",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_PopulateSchemeApplied-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_PopulateSchemeApplied]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_PopActiveSBFFrmInv-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_PopActiveSBFFrmInv]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulateSchemeData-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateSchemeData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MasterDataForAPI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spAPI_PopulateExtractIDCMP-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterDataForAPI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "APIDataFileGeneration",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterDataForAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "APIDataFileGeneration",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "APIDataFileGeneration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "Avinash@astix.in,Alok@astix.in,gaurav@astix.in,phegade.md@pg.com,bussa.r@pg.com,ramesh@astix.in,varun@astix.in,helpdesk@astix.in,project.tl@orientindia.net",
								"Subject": "API Process Success",
								"ErrorMessage": "API process and files generated successful"
							}
						}
					},
					{
						"name": "AS_CubeProcess_Sync_Fact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DW_Resume_Scale DW200_V2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AS_CubeProcess_Sync_Fact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spPopulateFactSBDData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDFTAS_PopulateSBDWorkingData-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactSBDData]",
							"storedProcedureParameters": {
								"RptMonthYear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.SBDRptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_PopulateStoreDSEWiseSales-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_PopulateStoreDSEWiseSales]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SQL_Scale S6 400 DTU",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spCalculateLuckDrawStore-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spTAS_PopActiveSBFFrmInv-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateSchemeData-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FinalDFProcessing-TASProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Scale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Scaleval": "S6",
								"tier": "Standard"
							}
						}
					},
					{
						"name": "AS_ResumeandScale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spAS_PopulateFactTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AS_ResumeandScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spTAS_MapTeleCallingInvDetail-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spTAS_DailyDataRefreshSalesData-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_MapTeleCallingInvDetail]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FiveStar Data Transfer",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "spCalculateLSSSchemeAgainstActData-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowCopyCommand": true,
								"copyCommandSettings": {}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "GPPoints",
											"type": "Byte"
										},
										"sink": {
											"name": "GPPoints",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ParameterId",
											"type": "Byte"
										},
										"sink": {
											"name": "ParameterId",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tmpTeleCallingFiveStarGPPoints",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tmpTAS_FiveStarGPPoints",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "spTAS_UpdateTeleCallingActGPPoints-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FiveStar Data Transfer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_UpdateTeleCallingActGPPoints]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_SmartBasketPopulateBaseDetail-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spAS_PopulateFactTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_SmartBasketPopulateBaseDetail]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTAS_PopulateStoreSchemeDistributionCount-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spTAS_PopulateSchemeApplied-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTAS_PopulateStoreSchemeDistributionCount]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DW_Resume_Scale DW200_V2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AS_ResumeandScale",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateFactSBDData",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spAPI_PopulateAPIBaseTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "RetailerFlagUpdate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "FinalDFProcessing-TASProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spTAS_SmartBasketPopulateBaseDetail-DF",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "spSubdHawkeyePopuldateData",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "spSniDbrPopulateTables",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW_Resume_Scale_V2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ScaleVal": "DW200c"
							}
						}
					},
					{
						"name": "spSubdHawkeyePopuldateData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spAS_PopulateFactTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spSubdHawkeyePopuldateData]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spSniDbrPopulateTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spAS_PopulateFactTables-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spSniDbrPopulateTables]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FinalDFProcessing-TASProcessing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "FinalDFProcessing-TASProcessing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ProcessDt": {
									"value": "@activity('spGetDFParameterDetail').output.firstRow.CurrDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "RetailerFlagUpdate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spTAS_MapTeleCallingInvDetail-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RetailerFlagUpdate",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AR Data Transfer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AR Data Transfer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Maximus Rurban Split",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AS_CubeProcess_Sync_Fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Maximus Rurban Split",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spPopulateTASFutureDateInRouteCalendar-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateTASFutureDateInRouteCalendar]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HawkeyeDataImport')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyRouteSummary",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyRouteSummary",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Container": {
									"value": "@pipeline().parameters.Container",
									"type": "Expression"
								},
								"ProcessedDataDate": {
									"value": "@pipeline().parameters.ProcessedDataDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyRouteData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyRouteSummary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyRouteData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Container": {
									"value": "@pipeline().parameters.Container",
									"type": "Expression"
								},
								"ProcessedDataDate": {
									"value": "@pipeline().parameters.ProcessedDataDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "CopyStoreData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyRouteData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyStoreData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Container": {
									"value": "@pipeline().parameters.Container",
									"type": "Expression"
								},
								"ProcessedDataDate": {
									"value": "@pipeline().parameters.ProcessedDataDate",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"ProcessedDataDate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Hawk Eye"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataFullProcessDaily_V2_28Aug2022')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_COHGAP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait 5 Min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_COHGAP",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Wait 5 Min",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 300
						}
					},
					{
						"name": "spDailyRefreshSchemeData-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait 5 Min",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyRefreshSchemeData]",
							"storedProcedureParameters": {
								"IsFullProcessRunning": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Order master",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowCopyCommand": true,
								"copyCommandSettings": {}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderCode",
											"type": "String"
										},
										"sink": {
											"name": "OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VisitID",
											"type": "Int32"
										},
										"sink": {
											"name": "VisitID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SalesPersonID",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesPersonID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SalesPersonType",
											"type": "Byte"
										},
										"sink": {
											"name": "SalesPersonType",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "RouteNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "RouteNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RouteNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "RouteNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TotalDeliveryBy",
											"type": "DateTime"
										},
										"sink": {
											"name": "TotalDeliveryBy",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TotLineOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotLineOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotLineLevelDisc",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotLineLevelDisc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotDiscVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotDiscVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotOrderValWDisc",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOrderValWDisc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotTaxVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotTaxVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NetOrderValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetOrderValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CustomerPONo",
											"type": "String"
										},
										"sink": {
											"name": "CustomerPONo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerPODate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CustomerPODate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgInvoiceOnDelivery",
											"type": "Byte"
										},
										"sink": {
											"name": "flgInvoiceOnDelivery",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "flgCollectionOnDelivery",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCollectionOnDelivery",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FreightRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "FreightRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "CollectionRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "CollectionRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DlvryRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "DlvryRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "InvRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "InvRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "InsRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "InsRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TaxRuleID",
											"type": "Byte"
										},
										"sink": {
											"name": "TaxRuleID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "OrderStatusID",
											"type": "Byte"
										},
										"sink": {
											"name": "OrderStatusID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "OrderSourceID",
											"type": "Byte"
										},
										"sink": {
											"name": "OrderSourceID",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "flgOrderClosed",
											"type": "Byte"
										},
										"sink": {
											"name": "flgOrderClosed",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "LoginIDIns",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIDIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimestampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimestampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LoginIDUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIDUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimestampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimestampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "FYID",
											"type": "Int32"
										},
										"sink": {
											"name": "FYID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderConfirmationDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OrderConfirmationDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OrderCompletionDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OrderCompletionDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OrderInitTag",
											"type": "String"
										},
										"sink": {
											"name": "OrderInitTag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderSeqNo",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderSeqNo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SalesNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SalesNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ActAddDisc",
											"type": "Decimal"
										},
										"sink": {
											"name": "ActAddDisc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OrderLogId",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderLogId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgOffline",
											"type": "Byte"
										},
										"sink": {
											"name": "flgOffline",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "OrdPrcsId",
											"type": "Byte"
										},
										"sink": {
											"name": "OrdPrcsId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "flgInvoicePrinted",
											"type": "Byte"
										},
										"sink": {
											"name": "flgInvoicePrinted",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "ReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ReasonText",
											"type": "String"
										},
										"sink": {
											"name": "ReasonText",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderPDAID",
											"type": "String"
										},
										"sink": {
											"name": "OrderPDAID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TotOtherCharges",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOtherCharges",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CycleId",
											"type": "Int32"
										},
										"sink": {
											"name": "CycleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgSent",
											"type": "Int32"
										},
										"sink": {
											"name": "flgSent",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgOrderSource",
											"type": "Byte"
										},
										"sink": {
											"name": "flgOrderSource",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TotMRPValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotMRPValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "GPValue",
											"type": "Int16"
										},
										"sink": {
											"name": "GPValue",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "FocBndAlrAch",
											"type": "Byte"
										},
										"sink": {
											"name": "FocBndAlrAch",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FocBndNowAch",
											"type": "Byte"
										},
										"sink": {
											"name": "FocBndNowAch",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FocBndSBFOrd",
											"type": "Int32"
										},
										"sink": {
											"name": "FocBndSBFOrd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FocBndSBFQtyOrd",
											"type": "Int32"
										},
										"sink": {
											"name": "FocBndSBFQtyOrd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FocBndSBFValueOrd",
											"type": "Decimal"
										},
										"sink": {
											"name": "FocBndSBFValueOrd",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SBDSBFOrd",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDSBFOrd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDTotalGap",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDTotalGap",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "GPValueSupplied",
											"type": "Int16"
										},
										"sink": {
											"name": "GPValueSupplied",
											"type": "Int16"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblOrderMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tblOrdermaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Order Detail",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Order master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowCopyCommand": true,
								"copyCommandSettings": {}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderDetailID",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderDetailID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderID",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PrdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "PrdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PrdNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "PrdNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PrcBatchID",
											"type": "Int32"
										},
										"sink": {
											"name": "PrcBatchID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderQty",
											"type": "Int32"
										},
										"sink": {
											"name": "OrderQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PriceTermId",
											"type": "Int32"
										},
										"sink": {
											"name": "PriceTermId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ProductRate",
											"type": "Decimal"
										},
										"sink": {
											"name": "ProductRate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LineOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "LineOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotLineDiscVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotLineDiscVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LineOrderValWDisc",
											"type": "Decimal"
										},
										"sink": {
											"name": "LineOrderValWDisc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TaxRefID",
											"type": "Int32"
										},
										"sink": {
											"name": "TaxRefID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TaxRate",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxRate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotTaxValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotTaxValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NetLineOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "NetLineOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LoginIDIns",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIDIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimestampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimestampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LoginIDUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIDUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimestampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimestampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SampleQty",
											"type": "Int32"
										},
										"sink": {
											"name": "SampleQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SalesUnitId",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesUnitId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FreeQty",
											"type": "Int32"
										},
										"sink": {
											"name": "FreeQty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgRateChange",
											"type": "Boolean"
										},
										"sink": {
											"name": "flgRateChange",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "strBatchPrice",
											"type": "String"
										},
										"sink": {
											"name": "strBatchPrice",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductRateBeforeTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "ProductRateBeforeTax",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "flgQuotationApplied",
											"type": "Boolean"
										},
										"sink": {
											"name": "flgQuotationApplied",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "SalesQuoteDetId",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesQuoteDetId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "InvLevelDisc",
											"type": "Decimal"
										},
										"sink": {
											"name": "InvLevelDisc",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "flgSBDGAP",
											"type": "Byte"
										},
										"sink": {
											"name": "flgSBDGAP",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "flgFB",
											"type": "Byte"
										},
										"sink": {
											"name": "flgFB",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "flgInitiative",
											"type": "Byte"
										},
										"sink": {
											"name": "flgInitiative",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "SBDGroupId",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgSBD",
											"type": "Byte"
										},
										"sink": {
											"name": "flgSBD",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FBID",
											"type": "Int32"
										},
										"sink": {
											"name": "FBID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblOrderDetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tblOrderdetail",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "spMoveOrderTeleCallingDataInHistory",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDeleteOrderTelecallerList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spMoveOrderTeleCallingDataInHistory]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy tblTAS_tmpRAWTeleCallerListForDay",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Order Detail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowCopyCommand": true,
								"copyCommandSettings": {}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AttendDetId",
											"type": "Int32"
										},
										"sink": {
											"name": "AttendDetId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreId",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallMade",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallMade",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DSENodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DSENodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectorId",
											"type": "Int32"
										},
										"sink": {
											"name": "SectorId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgCallStatus",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCallStatus",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ScheduleCall",
											"type": "String"
										},
										"sink": {
											"name": "ScheduleCall",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "ReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CallAttempt",
											"type": "Byte"
										},
										"sink": {
											"name": "CallAttempt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TeleReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TeleUserId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleUserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Priority",
											"type": "Int16"
										},
										"sink": {
											"name": "Priority",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "TotalSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalSales",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfInv",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfInv",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LastCallDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCallDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "IsDownloaded",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDownloaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutStandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutStandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LoginIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RuleId",
											"type": "Int32"
										},
										"sink": {
											"name": "RuleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScheduleDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ScheduleDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallStartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastOrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastOrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastOrderValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "LastOrderValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OrderBy",
											"type": "String"
										},
										"sink": {
											"name": "OrderBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastVisit",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastVisit",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastVisitStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastVisitStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VisitedBy",
											"type": "String"
										},
										"sink": {
											"name": "VisitedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCall",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCall",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastCallStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastCallStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCalledBY",
											"type": "String"
										},
										"sink": {
											"name": "LastCalledBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SubChannel",
											"type": "String"
										},
										"sink": {
											"name": "SubChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FrequencyId",
											"type": "Byte"
										},
										"sink": {
											"name": "FrequencyId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "AlternateContactNo",
											"type": "String"
										},
										"sink": {
											"name": "AlternateContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteName",
											"type": "String"
										},
										"sink": {
											"name": "RouteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfSKU",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfSKU",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TotInvVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotInvVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DSEIssueIds",
											"type": "String"
										},
										"sink": {
											"name": "DSEIssueIds",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSEComments",
											"type": "String"
										},
										"sink": {
											"name": "DSEComments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TCNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrderCode",
											"type": "String"
										},
										"sink": {
											"name": "OrderCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblTAS_tmpRAWTeleCallerListForDay_V2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tblTAS_TeleCallerListForDay",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF-To-TAS Transfer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DF-To-TAS Transfer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spPopulateOrderTelecallerListTransferTables-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateOrderTelecallerListTransferTables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDeleteOrderTelecallerList",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy tblTAS_tmpRAWTeleCallerListForDay",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateOrderTelecallerListHistoryFromTransferTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDeleteOrderTelecallerList]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulateOrderTelecallerListHistoryFromTransferTables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateOrderTelecallerListHistoryFromTransferTables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulateOrderTelecallerList_FutureDate-TAS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spPopulateOrderTelecallerListTransferTables-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateOrderTelecallerList_FutureDate]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase_Check",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "tblTeleCallerListForDay_FutureDate Transfer TAS To DF",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "spPopulateOrderTelecallerList_FutureDate-TAS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE tblTeleCallerListForDay_FutureDate",
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AttendDetId",
											"type": "Int32"
										},
										"sink": {
											"name": "AttendDetId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreId",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallMade",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallMade",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DSENodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DSENodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectorId",
											"type": "Int32"
										},
										"sink": {
											"name": "SectorId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgCallStatus",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCallStatus",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ScheduleCall",
											"type": "String"
										},
										"sink": {
											"name": "ScheduleCall",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "ReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CallAttempt",
											"type": "Byte"
										},
										"sink": {
											"name": "CallAttempt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TeleReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TeleUserId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleUserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Priority",
											"type": "Int16"
										},
										"sink": {
											"name": "Priority",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "TotalSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalSales",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfInv",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfInv",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LastCallDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCallDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "IsDownloaded",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDownloaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutStandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutStandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LoginIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RuleId",
											"type": "Int32"
										},
										"sink": {
											"name": "RuleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScheduleDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ScheduleDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallStartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastOrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastOrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastOrderValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "LastOrderValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OrderBy",
											"type": "String"
										},
										"sink": {
											"name": "OrderBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastVisit",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastVisit",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastVisitStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastVisitStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VisitedBy",
											"type": "String"
										},
										"sink": {
											"name": "VisitedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCall",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCall",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastCallStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastCallStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCalledBY",
											"type": "String"
										},
										"sink": {
											"name": "LastCalledBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SubChannel",
											"type": "String"
										},
										"sink": {
											"name": "SubChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FrequencyId",
											"type": "Byte"
										},
										"sink": {
											"name": "FrequencyId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "AlternateContactNo",
											"type": "String"
										},
										"sink": {
											"name": "AlternateContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteName",
											"type": "String"
										},
										"sink": {
											"name": "RouteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfSKU",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfSKU",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TotInvVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotInvVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DSEIssueIds",
											"type": "String"
										},
										"sink": {
											"name": "DSEIssueIds",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSEComments",
											"type": "String"
										},
										"sink": {
											"name": "DSEComments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TCNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORDERCode",
											"type": "String"
										},
										"sink": {
											"name": "ORDERCode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblTeleCallerListForDay_FutureDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tmpTAS_tblTeleCallerListForDay_FutureDate",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_OnlyProcess')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Delete Staging Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadLeapTasIntegration",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Delete Staging Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutLastSpCalled')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-06-20T05:07:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyADLS_To_LEAPStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Delete Staging Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadLeapTasIntegration",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Delete Staging Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyADLS_To_LEAPStaging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyADLS_To_LEAPStaging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Container": {
									"value": "@pipeline().parameters.Container",
									"type": "Expression"
								},
								"Directory": {
									"value": "@pipeline().parameters.Directory",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutProcessingMovement')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Delete Staging Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutProcessing_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Productmasterprocessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpLoadLeapTASIntegration_Error",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "LoadLeapTasIntegration",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
											"Subject": "TAS Datafactory Error",
											"ErrorMessage": "SpLoadLeapTASIntegration Failed, log on to portal for more details"
										}
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDailyDataRefreshSalesData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyDataRefreshSalesData]",
							"storedProcedureParameters": {
								"CalledFrom": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PopulateDSETeleCallingStores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Scale Down DB",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spOlapProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Scale_S4_DB]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOlapProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOlapProcessing]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Productmasterprocessing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Productmasterprocessing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spDailyRefreshSchemeData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyRefreshSchemeData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpDailyRefreshScheme_Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spDailyRefreshSchemeData",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "TAS Datafactory Error",
								"ErrorMessage": "SpDailyRefreshSchemeData Failed, log on to portal for more details"
							}
						}
					},
					{
						"name": "SpDailyDataRefreshSalesData Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "Datafactory Error",
								"ErrorMessage": "SpDailyDataRefreshSalesData failed, log on to portal for more details"
							}
						}
					},
					{
						"name": "CopyFiletoDBPart1_Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "TAS Datafactory Error",
								"ErrorMessage": "Copy FiletoDB Part1 Failed, log on to portal for more details"
							}
						}
					},
					{
						"name": "CopyFiletoDBPart2_Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "TAS Datafactory Error",
								"ErrorMessage": "Copy FiletoDB Part2 Failed, log on to portal for more details"
							}
						}
					},
					{
						"name": "SpDSETeleCallingStores_Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PopulateDSETeleCallingStores",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "TAS Datafactory Error",
								"ErrorMessage": "SpDSETeleCallingStores Failed, log on to portal for more details"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_WithoutSchemeRefresh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyS3-To-Staging_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyS3-To-Staging_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyS3-To-Staging_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDailyDataRefreshSalesData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyDataRefreshSalesData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PopulateDSETeleCallingStores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Scale Down DB",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spOlapProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Scale_GP_Gen5_2]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOlapProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOlapProcessing]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-16T05:05:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovement_fromloading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyLeap_Staging-To-DB_WithDPSR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_WithDPSR",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmpleaptables]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyLeap_Staging-To-DB_2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOLDDatafromtmptables_DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeap_Staging-To-DB_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyLeapStaging-To-ADLS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyLeap_Staging-To-DB_WithDPSR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyLeapStaging-To-ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "DeleteFiles_Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyLeapStaging-To-ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LeapStorageSourceDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "LookupAllFilesCome",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Productmasterprocessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckLeapDataLoaded]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WhenAllFilesCome",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(activity('LookupAllFilesCome').output.firstRow.flgDataloaded)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "LoadLeapTasIntegration",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapTasIntegration]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "PopulateDSETeleCallingStores",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WhenAllFilesCome",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateDSETeleCallingStores]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spDailyDataRefreshSalesData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IFDataTransferCanDone",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDailyDataRefreshSalesData]",
							"storedProcedureParameters": {
								"CalledFrom": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IFDataTransferCanDone",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PopulateDSETeleCallingStores",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select flgPngDataTransfer from tblFlagDataProcess",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Scale Down DB",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spOlapProcessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Scale_S4_DB]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOlapProcessing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOlapProcessing]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Productmasterprocessing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DeleteFiles_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Productmasterprocessing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SpDeleteOLDDatafromtmptables_DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteOLDDatafromtmptables_DF]"
						},
						"linkedServiceName": {
							"referenceName": "PnGDataFoundation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpDailyDataRefreshSalesData Error",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spDailyDataRefreshSalesData",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "avinash@astixsolutions.com,alok@astixsolutions.com,ashwani@astixsolutions.com",
								"Subject": "Datafactory Error",
								"ErrorMessage": "SpDailyDataRefreshSalesData failed, log on to portal for more details"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-11T03:28:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until All Set Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@not(greaterOrEquals(variables('NoOFTotalSets'),variables('CurrentSetNo')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapDataProcessing-Step1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "LeapDataProcessing-Set",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CloudInstance": {
												"value": "@pipeline().parameters.CloudInstance",
												"type": "Expression"
											},
											"Step": {
												"value": "@variables('CurrentSetNo')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set Completed Count",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "LeapDataProcessing-Step1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentSetNo",
										"value": {
											"value": "@string(add(int(variables('PreviousSetNo')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousSetNo",
										"value": {
											"value": "@variables('CurrentSetNo')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Completed Count_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "LeapDataProcessing-Step1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentSetNo",
										"value": {
											"value": "@string(add(int(variables('PreviousSetNo')),1))",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CloudInstance": {
						"type": "string"
					}
				},
				"variables": {
					"NoOFTotalSets": {
						"type": "String",
						"defaultValue": "8"
					},
					"CurrentSetNo": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousSetNo": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoveADLS-To-dfdatafoundation_Level3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "GetFoldername",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ADLSBinaryDataSource_Folder",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SourceStore_Container",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SourceStore_Directory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFoldername",
						"description": "Iterate each folder and find the folder or file inside it.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFolder').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "inner folder loop",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MoveADLS-To-dfdatafoundation_Level4",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SourceStore_Container": {
												"value": "@pipeline().parameters.SourceStore_Container",
												"type": "Expression"
											},
											"SourceStore_Directory": {
												"value": "@concat(pipeline().parameters.SourceStore_Directory, item().name ,'/')\n\n",
												"type": "Expression"
											},
											"DestinationStore_Container": {
												"value": "@pipeline().parameters.DestinationStore_Container",
												"type": "Expression"
											},
											"DestinationStore_Directory": {
												"value": "@pipeline().parameters.DestinationStore_Directory",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "FilterFolder",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFoldername",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFoldername').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'Folder')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceStore_Container": {
						"type": "String"
					},
					"SourceStore_Directory": {
						"type": "String"
					},
					"DestinationStore_Container": {
						"type": "String"
					},
					"DestinationStore_Directory": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:39:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinglefileDataLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_ProcessDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT ProcessDate FROM tmpDateDataTobeProcess WHERE flgProcess=0 ORDER BY ProcessDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DF_NC_RouteCalendar_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDates",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_ProcessDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_ProcessDate').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SingleFileCopy",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDeleteOldtmpleapdata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SingleFileCopy",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Container": "cntleap",
											"Folder": {
												"value": "@concat('/', formatDateTime(item().ProcessDate, 'yyyy'), '/', formatDateTime(item().ProcessDate, 'MM'), '/', formatDateTime(item().ProcessDate, 'dd'), '/')\n",
												"type": "Expression"
											},
											"ProcessDate": {
												"value": "@item().ProcessDate",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDeleteOldtmpleapdata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDeleteDatafromtmpleaptable]"
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spLoadLeapDPSRIndividualProcess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SingleFileCopy",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapDPSRIndividualProcess]",
										"storedProcedureParameters": {
											"dt": {
												"value": {
													"value": "@item().ProcessDate",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinglefileDataLoading_CCCR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_ProcessDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT ProcessDate FROM tmpDateDataTobeProcess WHERE flgProcess=0 ORDER BY ProcessDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DF_NC_RouteCalendar_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDates",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_ProcessDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_ProcessDate').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SingleFileCopy_CCCR",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDeleteOldtmpleapdata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SingleFileCopy_CCCR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Container": "cntleap",
											"Folder": {
												"value": "@concat('/', formatDateTime(item().ProcessDate, 'yyyy'), '/', formatDateTime(item().ProcessDate, 'MM'), '/', formatDateTime(item().ProcessDate, 'dd'), '/')\n",
												"type": "Expression"
											},
											"ProcessDate": {
												"value": "@item().ProcessDate",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDeleteOldtmpleapdata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spTruncateCCCRData]"
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spLoadLeapDPSRIndividualProcess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SingleFileCopy_CCCR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR]"
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinglefileDataLoading_Onefile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SingleFileCopy_Onefile",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpDeleteOldtmpleapdata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SingleFileCopy_Onefile",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Container": "cntleap",
								"Folder": {
									"value": "@concat('/cochinfeb20psr', '/')\n",
									"type": "Expression"
								},
								"ProcessDate": {
									"value": "@pipeline().parameters.ProcessDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SpDeleteOldtmpleapdata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpDeleteDatafromtmpleaptable]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spLoadLeapDPSRIndividualProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SingleFileCopy_Onefile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spLoadLeapDPSRIndividualProcess]",
							"storedProcedureParameters": {
								"dt": {
									"value": {
										"value": "@pipeline().parameters.ProcessDate",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ProcessDate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinglefileDataLoading_RTDXFormat')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_ProcessDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT ProcessDate FROM tmpDateDataTobeProcess WHERE flgProcess=0 ORDER BY ProcessDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DF_NC_RouteCalendar_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDates",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_ProcessDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_ProcessDate').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SingleFileCopy_RTDXFormat",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDeleteOldtmpleapdata",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SingleFileCopy_RTDXFormat",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Container": "cntleap",
											"Folder": {
												"value": "@concat('Site PSR Data/', formatDateTime(item().ProcessDate, 'yyyy'), '/', formatDateTime(item().ProcessDate, 'MM'), '/', formatDateTime(item().ProcessDate, 'dd'),formatDateTime(item().ProcessDate, 'MM'),formatDateTime(item().ProcessDate, 'yyyy'), '/')\n",
												"type": "Expression"
											},
											"ProcessDate": {
												"value": "@item().ProcessDate",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDeleteOldtmpleapdata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDeleteDatafromtmpleaptable]"
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "spLoadLeapDPSRIndividualProcess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SingleFileCopy_RTDXFormat",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spLoadLeapDPSRIndividualProcess]",
										"storedProcedureParameters": {
											"dt": {
												"value": {
													"value": "@item().ProcessDate",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASDataUpdate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RetailerFlagUpdate",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "RetailerFlagUpdate",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TeleCallerListForDay",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RetailerFlagUpdate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TeleCallerListForDay",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TASOrderLog')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TASOrderLog_Cloud1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TASOrderLog_Cloud2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TASOrderLog_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TASOrderLog_Cloud3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TASOrderLog_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TASOrderLog_Cloud3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TASOrder"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-16T14:36:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WinITCCCRDataLoading')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_ProcessDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT FORMAT(ProcessDate,'dd-MMM-yy') ProcessDate FROM tmpWinITCCCRDateDataTobeProcess WHERE flgProcess=0 ORDER BY ProcessDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDates",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_ProcessDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_ProcessDate').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "SingleFileCopy_WINITCCCR",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SingleFileCopy_WINITCCCR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ProcessDate": {
												"value": "@item().ProcessDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "spDataLoadRawLEAPTAS_CCCR_SubD",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachDates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR_SubD]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "WINIT Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}