LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_41.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		},
		"LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@adddays(trigger().scheduledTime, -1)"
		},
		"LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_DataProcessDate": {
			"type": "string",
			"defaultValue": "@{formatDateTime(utcNow(),'dd-MMM-yyyy')}"
		},
		"LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_Container": {
			"type": "string",
			"defaultValue": "cntleap"
		},
		"LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_Directory": {
			"type": "string",
			"defaultValue": "@{concat('/', formatDateTime(trigger().scheduledTime, 'yyyy'), '/', formatDateTime(trigger().scheduledTime, 'MM'), '/', formatDateTime(trigger().scheduledTime, 'dd'), '/')}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Cloud1Processing_Step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 1 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud1').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud1Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "1"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud1Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud1Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud2Processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 2 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud2').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud2Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "2"
												},
												"Step": {
													"type": "Byte",
													"value": {
														"value": "@pipeline().parameters.Step",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud2Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud2Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "20"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud2Processing_SBD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 2 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud2').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud2Pipeline_SBD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "2"
												},
												"Step": {
													"type": "Byte",
													"value": {
														"value": "@pipeline().parameters.Step",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud2Pipeline_SBD",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud2Pipeline_SBD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "20"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "SBD Processing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud2Processing_Step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 2 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud2').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud2Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "2"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud2Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud2Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud3Processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 3 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud3').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud3Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "3"
												},
												"Step": {
													"type": "Byte",
													"value": {
														"value": "@pipeline().parameters.Step",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud3Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud3Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "20"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud3Processing_SBD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 3 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud3').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud3Pipeline_SBD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "3"
												},
												"Step": {
													"type": "Byte",
													"value": {
														"value": "@pipeline().parameters.Step",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud3Pipeline_SBD",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud3Pipeline_SBD",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "20"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "SBD Processing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cloud3Processing_Step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until Cloud 3 Processing Done",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(not(equals(variables('flgFullProcessingPending'), '1')),\nnot(greaterOrEquals(int(variables('MaxNoofCheck')),int(variables('CurrentCountNoofCheck')))))\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set flgFullProcessingPending",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgFullProcessingPending",
										"value": {
											"value": "@string(activity('SpGetCloudFileLoadingStatus_Cloud3').output.firstRow.flgLoadingDone)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SpGetCloudFileLoadingStatus_Cloud3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Cloud3Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpGetCloudFileLoadingStatus]",
											"storedProcedureParameters": {
												"CloudInstance": {
													"type": "Byte",
													"value": "3"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DataFoundationConnectionV2",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set CurrentCountNoofCheck",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SpGetCloudFileLoadingStatus_Cloud3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "CurrentCountNoofCheck",
										"value": {
											"value": "@string(add(int(variables('PreviousCountNoofCheck')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Count Completed",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousCountNoofCheck",
										"value": {
											"value": "@variables('CurrentCountNoofCheck')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Cloud3Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Count Completed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Cloud3Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"CycleID": {
												"value": "@pipeline().parameters.CycleID",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set flgFullProcessingPending",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('flgFullProcessingPending'),'1')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Wait 1 min",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 60
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"CycleID": {
						"type": "string"
					}
				},
				"variables": {
					"flgFullProcessingPending": {
						"type": "String",
						"defaultValue": "1"
					},
					"MaxNoofCheck": {
						"type": "String",
						"defaultValue": "11"
					},
					"CurrentCountNoofCheck": {
						"type": "String",
						"defaultValue": "1"
					},
					"PreviousCountNoofCheck": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FocusBrandLoadingandProccessing')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LeapDataFocusBrnadProcessing_V2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-07T05:55:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMovementDaily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LeapDataMovementDaily",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_windowStart')]",
							"windowEnd": "[parameters('LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_windowEnd')]",
							"DataProcessDate": "[parameters('LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_DataProcessDate')]",
							"Container": "[parameters('LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_Container')]",
							"Directory": "[parameters('LeapDataMovementDaily_properties_LeapDataMovementDaily_parameters_Directory')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-11T07:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								5
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MiddleDFProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCycleStart",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"storedProcedureParameters": {
									"flgInOut": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cloud1Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud1Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud2Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud2Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud3Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud3Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgCloud1LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud1ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cloud2Processing')]",
				"[concat(variables('factoryId'), '/pipelines/Cloud3Processing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MiddleDFProcessing_Step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCycleStart",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"storedProcedureParameters": {
									"flgInOut": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cloud1Processing_Step1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud1Processing_Step1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud2Processing_Step1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud2Processing_Step1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud3Processing_Step1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud3Processing_Step1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					}
				},
				"variables": {
					"flgCloud1LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud1ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cloud1Processing_Step1')]",
				"[concat(variables('factoryId'), '/pipelines/Cloud2Processing_Step1')]",
				"[concat(variables('factoryId'), '/pipelines/Cloud3Processing_Step1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDLoadingandProcessing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckSBDFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Cloud3Processing_SBD",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Cloud2Processing_SBD",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Cloud1Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckSBDFileProcessStatus]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If SBD File Process",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckSBDFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckSBDFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "spDataLoadSBDMasterData_Cloud",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoadSBDMasterData_Cloud]"
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "SpCycleStart",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpSBDFileLoadingFlagUpdate_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"storedProcedureParameters": {
									"flgInOut": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cloud1Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud1Processing_SBD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud2Processing_SBD",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud2Processing_SBD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud3Processing_SBD",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud3Processing_SBD",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SpSBDFileLoadingFlagUpdate_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpSBDFileLoadingFlagUpdate]",
							"storedProcedureParameters": {
								"flgStatus": {
									"value": "1",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SpSBDFileLoadingFlagUpdate_End",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If SBD File Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SpSBDFileLoadingFlagUpdate]",
							"storedProcedureParameters": {
								"flgStatus": {
									"value": "0",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgCloud1LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud1ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cloud2Processing_SBD')]",
				"[concat(variables('factoryId'), '/pipelines/Cloud3Processing_SBD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SBDLoadingandProcessing_02Jul2024')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckSBDFileProcessStatus",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Cloud3Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Cloud2Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Cloud1Processing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckSBDFileProcessStatus]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If SBD File Process",
						"type": "IfCondition",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SpCheckSBDFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckSBDFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "spDataLoadSBDMasterData_Cloud",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDataLoadSBDMasterData_Cloud]"
									},
									"linkedServiceName": {
										"referenceName": "Dev_DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "SpCycleStart",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycEntry]",
								"storedProcedureParameters": {
									"flgInOut": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cloud1Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud1Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud2Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud2Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cloud3Processing",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SpCycleStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Cloud3Processing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"CycleID": {
									"value": "@activity('SpCycleStart').output.firstRow.CycleID",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"variables": {
					"flgCloud1LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3LoadingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud1ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud2ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					},
					"flgCloud3ProcessingDone": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Cloud2Processing')]",
				"[concat(variables('factoryId'), '/pipelines/Cloud3Processing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataFullProcessDaily_Step1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Temp and Final Tables_Step1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DW_Resume_Scale_V2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MiddleDFProcessing_Step1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "DW_Resume_Scale_V2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DW_Resume_Scale_V2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ScaleVal": "DW300c",
								"flgcalled": 1
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing_Step1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataFullProcessDaily_V2_Onlyleapdata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Loading Temp and Final Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MiddleDFProcessing",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DataProcessDate": {
									"value": "@pipeline().parameters.DataProcessDate",
									"type": "Expression"
								},
								"Step": {
									"value": "@pipeline().parameters.Step",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "APIDeleteOLDFilesinFolder",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "APIDeleteOLDFilesinFolder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "PurdDataFileGeneration_Temp",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Loading Temp and Final Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PurdDataFileGeneration_Temp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Purchase History Send Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PurdDataFileGeneration_Temp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "trivedi.dt.1@pg.com,maiti.am@pg.com,vishalbhai.jagdishbhai.bhimda@gds.ey.com,umesh.gupta1@gds.ey.com",
								"Subject": "Purchase History File generation notification",
								"ErrorMessage": "Daily Purchase history file is generated."
							}
						}
					},
					{
						"name": "spAPI_PopulateExtractIDCMP-DF",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Purchase History Send Notification",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spAPI_PopulateExtractIDCMP]"
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MasterDataForAPI",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spAPI_PopulateExtractIDCMP-DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MasterDataForAPI",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "APIDataFileGeneration",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MasterDataForAPI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "APIDataFileGeneration",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Success Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "APIDataFileGeneration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "Avinash@astix.in,Alok@astix.in,gaurav@astix.in,phegade.md@pg.com,bussa.r@pg.com,varun@astix.in,helpdesk@astix.in,trivedi.dt.1@pg.com",
								"Subject": "API Process Success",
								"ErrorMessage": "API process and files generated successful"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-13T19:05:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMorningProcessing_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckAllFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckAllFileProcessStatus]",
								"storedProcedureParameters": {
									"Step": {
										"type": "Byte",
										"value": {
											"value": "1",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If All Final Table Loaded",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckAllFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "MiddleDFProcessing",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDAProcessStatusUpdate_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MiddleDFProcessing",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "1",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MiddleDFProcessing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "2",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "spPopulateFactCFRData_PCode",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactCFRData_PCode]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If All Final Table Loaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SmartBasketProcess",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SmartBasketProcess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spPopulateFactTPRTargetData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactTPRTargetData]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulateFactGPStoreInitiativeData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactGPStoreInitiativeData]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spPopulateFactWSRishtaData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactWSRishtaData]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOLAPProcesStatusUpd",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "spPopulateFactTPRTargetData",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateFactGPStoreInitiativeData",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "spPopulateFactWSRishtaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOLAPProcesStatusUpd]",
							"storedProcedureParameters": {
								"JobId": {
									"value": "7",
									"type": "Int32"
								},
								"OLAP": {
									"value": "0",
									"type": "Int32"
								},
								"OLTP": {
									"value": "1",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spOLAPProcesStatusUpd_smartbasket_ifnotloaded",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SmartBasketProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spOLAPProcesStatusUpd]",
							"storedProcedureParameters": {
								"JobId": {
									"value": "5",
									"type": "Int32"
								},
								"OLAP": {
									"value": "1",
									"type": "Int32"
								},
								"OLTP": {
									"value": "1",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMorningProcessing_V2_05-Mar-2024')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckAllFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckAllFileProcessStatus]",
								"storedProcedureParameters": {
									"Step": {
										"type": "Byte",
										"value": {
											"value": "1",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If All Final Table Loaded",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckAllFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "MiddleDFProcessing",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDAProcessStatusUpdate_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MiddleDFProcessing",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "1",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MiddleDFProcessing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "2",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "spPopulateFactCFRData_PCode",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactCFRData_PCode]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If All Final Table Loaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SmartBasketProcess",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SmartBasketProcess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMorningProcessing_V2_05Dec2023')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckAllFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckAllFileProcessStatus]",
								"storedProcedureParameters": {
									"Step": {
										"type": "Byte",
										"value": {
											"value": "1",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If All Final Table Loaded",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckAllFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "MiddleDFProcessing",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MiddleDFProcessing",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If All Final Table Loaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SmartBasketProcess",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SmartBasketProcess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMorningProcessing_V2_13Dec2023')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckAllFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckAllFileProcessStatus]",
								"storedProcedureParameters": {
									"Step": {
										"type": "Byte",
										"value": {
											"value": "1",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If All Final Table Loaded",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckAllFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "MiddleDFProcessing",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MiddleDFProcessing",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If All Final Table Loaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SmartBasketProcess",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SmartBasketProcess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LeapDataMorningProcessing_V2_Check')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SpCheckAllFileProcessStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCheckAllFileProcessStatus]",
								"storedProcedureParameters": {
									"Step": {
										"type": "Byte",
										"value": {
											"value": "1",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If All Final Table Loaded",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SpCheckAllFileProcessStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SpCheckAllFileProcessStatus').output.firstRow.flgProcessingDone,1 )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Send Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "MiddleDFProcessing",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "SpDAProcessStatusUpdate_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "MiddleDFProcessing",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"DataProcessDate": {
												"value": "@pipeline().parameters.DataProcessDate",
												"type": "Expression"
											},
											"Step": {
												"value": "@pipeline().parameters.Step",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "1",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SpDAProcessStatusUpdate_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "MiddleDFProcessing",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpDAProcessStatusUpdate]",
										"storedProcedureParameters": {
											"flgStatus": {
												"value": "2",
												"type": "Byte"
											},
											"ProcessID": {
												"value": "2",
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DataFoundationDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "spPopulateFactCFRData_PCode",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactCFRData_PCode]",
							"storedProcedureParameters": {
								"Rptmonthyear": {
									"value": {
										"value": "@activity('spGetDFParameterDetail').output.firstRow.RptMonthYear",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Dev_DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spGetDFParameterDetail",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "If All Final Table Loaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDFParameterDetail]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SmartBasketProcess",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "spGetDFParameterDetail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SmartBasketProcess",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataProcessDate": {
						"type": "string"
					},
					"Step": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MiddleDFProcessing')]"
			]
		}
	]
}