LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud1_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud1_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud1_OneFile_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),equals(item().name,pipeline().parameters.filename))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud1_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LeapCSV_Cloud1_CDLStaging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud1_CDLStaging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"variables": {
					"filename": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud1_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),not(startswith(item().name, 'TAS_')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud1_CDLStaging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud1_CDLStaging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud1_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "LeapStorageSourceDataset_File_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud1_V2_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud2",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud2_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud2_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud2_OneFile_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),equals(item().name,pipeline().parameters.filename))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud2",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud2_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LeapCSV_Cloud2_CDLStaging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud2_CDLStaging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud2_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),not(startswith(item().name, 'TAS_')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud2",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud2_CDLStaging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud2_CDLStaging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud2_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "LeapStorageSourceDataset_File_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud2_V2_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud2FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud2_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud2FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud2FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud2FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud2FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud2FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud2_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud2_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud3",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud3_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3_Onefile_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),equals(item().name,pipeline().parameters.filename))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud3",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud3_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LeapCSV_Cloud3_CDLStaging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud3_CDLStaging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),not(startswith(item().name, 'TAS_')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DeleteFiles_Cloud3",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud3_CDLStaging",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AmazonS3ReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "LeapCSV_Cloud3_CDLStaging",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LeapCSV_Cloud3_Staging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "LeapStorageSourceDataset_File_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapCDLInputStorageDataset_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3-To-Staging_Cloud3_V2_NoDelete')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud3FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud3_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@pipeline().parameters.windowStart",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@pipeline().parameters.windowEnd",
									"type": "Expression"
								}
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud3FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud3FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud3FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud3FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud3FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud3_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"modifiedDatetimeStart": {
													"value": "@pipeline().parameters.windowStart",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@pipeline().parameters.windowEnd",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud3_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud3",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2020-05-29T19:10:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyS3_Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cloud1FilesMetaData",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "S3LeapDataSet_Cloud1_Folder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AmazonS3ReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Cloud1FilesFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Cloud1FilesMetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesMetaData').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(equals(item().type, 'File'),not(startswith(item().name, 'TAS_')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCloud1FolderFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Cloud1FilesFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Cloud1FilesFilter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LeapCSV_Cloud1_Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false,
										"preserve": [
											"Attributes"
										],
										"validateDataConsistency": false,
										"dataIntegrationUnits": 2
									},
									"inputs": [
										{
											"referenceName": "S3LeapDataSet_Cloud1_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapStorageSourceDataset_V2_Cloud1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyStaging-To-DB-CCCR-V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "filenamecloud1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetFilenameList]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "1"
									},
									"DFSetID": {
										"type": "Int32",
										"value": "10"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CCCR_Cloud1",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpCycFileSetEntry_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": {
											"value": "@activity('filenamecloud1').output.firstRow.name",
											"type": "Expression"
										}
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									},
									{
										"name": "FileSetID",
										"value": {
											"value": "@activity('SpCycFileSetEntry_Cloud1').output.firstRow.CycFileID",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('filenamecloud1').output.firstRow.name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{activity('filenamecloud1').output.firstRow.temptablename}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_location",
											"type": "String"
										},
										"sink": {
											"name": "branch_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_code",
											"type": "String"
										},
										"sink": {
											"name": "dse_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_name",
											"type": "String"
										},
										"sink": {
											"name": "dse_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "route_name",
											"type": "String"
										},
										"sink": {
											"name": "route_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_1",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_2",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_name",
											"type": "String"
										},
										"sink": {
											"name": "channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sub_channel_name",
											"type": "String"
										},
										"sink": {
											"name": "sub_channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "start_time",
											"type": "String"
										},
										"sink": {
											"name": "start_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "end_time",
											"type": "String"
										},
										"sink": {
											"name": "end_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "intime",
											"type": "String"
										},
										"sink": {
											"name": "intime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "order_value",
											"type": "String"
										},
										"sink": {
											"name": "order_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "productivity",
											"type": "String"
										},
										"sink": {
											"name": "productivity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason",
											"type": "String"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_latitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_longitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation_in_meter",
											"type": "String"
										},
										"sink": {
											"name": "deviation_in_meter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation",
											"type": "String"
										},
										"sink": {
											"name": "deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason_for_deviation",
											"type": "String"
										},
										"sink": {
											"name": "reason_for_deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "on_route",
											"type": "String"
										},
										"sink": {
											"name": "on_route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "remarks",
											"type": "String"
										},
										"sink": {
											"name": "remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "Filename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distance_travelled",
											"type": "String"
										},
										"sink": {
											"name": "distance_travelled",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p1m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p1m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p3m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p3m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_fb_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_fb_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "String"
										},
										"sink": {
											"name": "FileSetID"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging_V2_Cloud1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Destination_table",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@activity('filenamecloud1').output.firstRow.temptablename",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "filenamecloud2",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetFilenameList]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "2"
									},
									"DFSetID": {
										"type": "Int32",
										"value": "10"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CCCR_Cloud2",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpCycFileSetEntry_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": {
											"value": "@activity('filenamecloud2').output.firstRow.name",
											"type": "Expression"
										}
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									},
									{
										"name": "FileSetID",
										"value": {
											"value": "@activity('SpCycFileSetEntry_Cloud2').output.firstRow.CycFileID",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('filenamecloud2').output.firstRow.name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{activity('filenamecloud2').output.firstRow.temptablename}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_location",
											"type": "String"
										},
										"sink": {
											"name": "branch_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_code",
											"type": "String"
										},
										"sink": {
											"name": "dse_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_name",
											"type": "String"
										},
										"sink": {
											"name": "dse_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "route_name",
											"type": "String"
										},
										"sink": {
											"name": "route_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_1",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_2",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_name",
											"type": "String"
										},
										"sink": {
											"name": "channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sub_channel_name",
											"type": "String"
										},
										"sink": {
											"name": "sub_channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "start_time",
											"type": "String"
										},
										"sink": {
											"name": "start_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "end_time",
											"type": "String"
										},
										"sink": {
											"name": "end_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "intime",
											"type": "String"
										},
										"sink": {
											"name": "intime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "order_value",
											"type": "String"
										},
										"sink": {
											"name": "order_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "productivity",
											"type": "String"
										},
										"sink": {
											"name": "productivity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason",
											"type": "String"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_latitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_longitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation_in_meter",
											"type": "String"
										},
										"sink": {
											"name": "deviation_in_meter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation",
											"type": "String"
										},
										"sink": {
											"name": "deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason_for_deviation",
											"type": "String"
										},
										"sink": {
											"name": "reason_for_deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "on_route",
											"type": "String"
										},
										"sink": {
											"name": "on_route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "remarks",
											"type": "String"
										},
										"sink": {
											"name": "remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "Filename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distance_travelled",
											"type": "String"
										},
										"sink": {
											"name": "distance_travelled",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p1m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p1m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p3m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p3m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_fb_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_fb_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "String"
										},
										"sink": {
											"name": "FileSetID"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging_V2_Cloud2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Destination_table",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@activity('filenamecloud2').output.firstRow.temptablename",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "filenamecloud3",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetFilenameList]",
								"storedProcedureParameters": {
									"CloudInstance": {
										"type": "Byte",
										"value": "3"
									},
									"DFSetID": {
										"type": "Int32",
										"value": "10"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CCCR_Cloud3",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SpCycFileSetEntry_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": {
											"value": "@activity('filenamecloud3').output.firstRow.name",
											"type": "Expression"
										}
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									},
									{
										"name": "FileSetID",
										"value": {
											"value": "@activity('SpCycFileSetEntry_Cloud3').output.firstRow.CycFileID",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('filenamecloud3').output.firstRow.name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{activity('filenamecloud3').output.firstRow.temptablename}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_location",
											"type": "String"
										},
										"sink": {
											"name": "branch_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_code",
											"type": "String"
										},
										"sink": {
											"name": "dse_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_name",
											"type": "String"
										},
										"sink": {
											"name": "dse_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "route_name",
											"type": "String"
										},
										"sink": {
											"name": "route_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_1",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_number_2",
											"type": "String"
										},
										"sink": {
											"name": "contact_number_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_name",
											"type": "String"
										},
										"sink": {
											"name": "channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "sub_channel_name",
											"type": "String"
										},
										"sink": {
											"name": "sub_channel_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "start_time",
											"type": "String"
										},
										"sink": {
											"name": "start_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "end_time",
											"type": "String"
										},
										"sink": {
											"name": "end_time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "intime",
											"type": "String"
										},
										"sink": {
											"name": "intime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "order_value",
											"type": "String"
										},
										"sink": {
											"name": "order_value",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "productivity",
											"type": "String"
										},
										"sink": {
											"name": "productivity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason",
											"type": "String"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_latitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_longitude",
											"type": "String"
										},
										"sink": {
											"name": "visit_longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation_in_meter",
											"type": "String"
										},
										"sink": {
											"name": "deviation_in_meter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deviation",
											"type": "String"
										},
										"sink": {
											"name": "deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason_for_deviation",
											"type": "String"
										},
										"sink": {
											"name": "reason_for_deviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "on_route",
											"type": "String"
										},
										"sink": {
											"name": "on_route",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "remarks",
											"type": "String"
										},
										"sink": {
											"name": "remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "Filename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distance_travelled",
											"type": "String"
										},
										"sink": {
											"name": "distance_travelled",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p1m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p1m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_p3m_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_p3m_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "visit_fb_ach",
											"type": "String"
										},
										"sink": {
											"name": "visit_fb_ach",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "String"
										},
										"sink": {
											"name": "FileSetID"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging_V2_Cloud3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Destination_table",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@activity('filenamecloud3').output.firstRow.temptablename",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "spDataLoadRawLEAPTAS_CCCR_Cloud1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpCycFileSetUpdate_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR_Cloud1]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "spDataLoadRawLEAPTAS_CCCR_Cloud2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpCycFileSetUpdate_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR_Cloud2]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "spDataLoadRawLEAPTAS_CCCR_Cloud3",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SpCycFileSetUpdate_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spDataLoadRawLEAPTAS_CCCR_Cloud3]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetEntry_Cloud1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "filenamecloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud1').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud1').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetUpdate_Cloud1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CCCR_Cloud1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud1').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud1').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetEntry_Cloud2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "filenamecloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud2').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud2').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetUpdate_Cloud2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CCCR_Cloud2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud2').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud2').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetEntry_Cloud3",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "filenamecloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud3').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud3').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SpCycFileSetUpdate_Cloud3",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CCCR_Cloud3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpCycFileEntry]",
								"storedProcedureParameters": {
									"CycleID": {
										"type": "Int64",
										"value": {
											"value": "@pipeline().parameters.CycleID",
											"type": "Expression"
										}
									},
									"DataDate": {
										"type": "DateTime",
										"value": {
											"value": "@formatDateTime(pipeline().parameters.DataProcessDate,'yyyy-MMM-dd')",
											"type": "Expression"
										}
									},
									"FileID": {
										"type": "Int32",
										"value": {
											"value": "@activity('filenamecloud3').output.firstRow.FileID",
											"type": "Expression"
										}
									},
									"FileName": {
										"type": "String",
										"value": {
											"value": "@activity('filenamecloud3').output.firstRow.name",
											"type": "Expression"
										}
									},
									"flgProcessType": {
										"type": "Byte",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CycleID": {
						"type": "string"
					},
					"DataProcessDate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "V2 Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyStaging-To-DB-WINITDRCP-V2_Seperatetable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getfilenames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetWINIT_DRCPFileDetails_Daily_Temp]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getfilenames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Getfilenames').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetFileList",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_WINIT_StorageSourceDataset_File_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"folder": "DRCP"
											}
										},
										"fieldList": [
											"exists",
											"itemName",
											"lastModified",
											"itemType"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If File Exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileList",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GetFileList').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "DRCP Data Copy",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														},
														"disableMetricsCollection": false
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "BranchCode",
																	"type": "String"
																},
																"sink": {
																	"name": "BranchCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SubDCode",
																	"type": "String"
																},
																"sink": {
																	"name": "SubDCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SubDName",
																	"type": "String"
																},
																"sink": {
																	"name": "SubDName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "VisitDate",
																	"type": "String"
																},
																"sink": {
																	"name": "VisitDate",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "RouteCode",
																	"type": "String"
																},
																"sink": {
																	"name": "RouteCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "RouteName",
																	"type": "String"
																},
																"sink": {
																	"name": "RouteName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "RetailerCode",
																	"type": "String"
																},
																"sink": {
																	"name": "RetailerCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "RetailerName",
																	"type": "String"
																},
																"sink": {
																	"name": "RetailerName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Channel",
																	"type": "String"
																},
																"sink": {
																	"name": "Channel",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "CustTypeName",
																	"type": "String"
																},
																"sink": {
																	"name": "CustTypeName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "DSECode",
																	"type": "String"
																},
																"sink": {
																	"name": "DSECode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "DSEName",
																	"type": "String"
																},
																"sink": {
																	"name": "DSEName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "STLCode",
																	"type": "String"
																},
																"sink": {
																	"name": "STLCode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "WinITCSV_Staging_pipe_ADLS",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															},
															"Folder": "DRCP"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Destination_table",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().temptablename",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CycleID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "WINIT Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyStaging-To-DB-WINITStoreMaster-V2_Seperatetable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getfilenames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpGetWINIT_StoreFileDetails_Daily_Temp]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DataFoundationConnectionV2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Getfilenames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Getfilenames').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GetFileList",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_WINIT_StorageSourceDataset_File",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												},
												"folder": "StoreMaster"
											}
										},
										"fieldList": [
											"exists",
											"itemName",
											"lastModified",
											"itemType"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If File Exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileList",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('GetFileList').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Store Data Copy",
												"description": "Copy a file from the source store to the destination store.",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Filename",
																"value": {
																	"value": "@item().name",
																	"type": "Expression"
																}
															},
															{
																"name": "LastModifiedDatetime",
																"value": {
																	"value": "@addminutes(utcnow(),330)",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														},
														"recursive": false
													},
													"sink": {
														"type": "SqlDWSink",
														"allowPolyBase": true,
														"polyBaseSettings": {
															"rejectValue": 0,
															"rejectType": "value",
															"useTypeDefault": true
														},
														"disableMetricsCollection": false
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "DFPolybaseStagingStorageLink",
															"type": "LinkedServiceReference"
														},
														"path": "polybasestaging"
													},
													"dataIntegrationUnits": 2,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "subdcode",
																	"type": "String"
																},
																"sink": {
																	"name": "subdcode",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Subd name",
																	"type": "String"
																},
																"sink": {
																	"name": "Subd name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Store code",
																	"type": "String"
																},
																"sink": {
																	"name": "Store code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Store name",
																	"type": "String"
																},
																"sink": {
																	"name": "Store name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Channel Name",
																	"type": "String"
																},
																"sink": {
																	"name": "Channel Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Cust Type Name",
																	"type": "String"
																},
																"sink": {
																	"name": "Cust Type Name",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Lat",
																	"type": "String"
																},
																"sink": {
																	"name": "Lat",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Long",
																	"type": "String"
																},
																"sink": {
																	"name": "Long",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Contact Person",
																	"type": "String"
																},
																"sink": {
																	"name": "Contact Person",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Phone Number",
																	"type": "String"
																},
																"sink": {
																	"name": "Phone Number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "In_coverage",
																	"type": "String"
																},
																"sink": {
																	"name": "In_coverage",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Address",
																	"type": "String"
																},
																"sink": {
																	"name": "Address",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Current Seller_code",
																	"type": "String"
																},
																"sink": {
																	"name": "Current Seller_code",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "is_active",
																	"type": "String"
																},
																"sink": {
																	"name": "is_active",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "created on",
																	"type": "String"
																},
																"sink": {
																	"name": "created on",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "modified date",
																	"type": "String"
																},
																"sink": {
																	"name": "modified date",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Aadhar Number",
																	"type": "String"
																},
																"sink": {
																	"name": "Aadhar Number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "GST Number",
																	"type": "String"
																},
																"sink": {
																	"name": "GST Number",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "Filename",
																	"type": "String"
																},
																"sink": {
																	"name": "FileName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																},
																"sink": {
																	"name": "LastModifiedDatetime",
																	"type": "String"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "WinITCSV_Staging_pipe",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															},
															"Folder": "StoreMaster"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Destination_table",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().temptablename",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CycleID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "WINIT Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyStoreData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy file data from Staging to DB",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "DataDatetime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_StoreDataFolder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"lastModified",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "Copy StoreData",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Daily_Store_Data",
												"wildcardFileName": {
													"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": "TRUNCATE TABLE tbltmpDailyStoreData_DirectLoad"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Weekly Visit Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Weekly Visit Date",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Next_Visit_Date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Next_Visit_Date",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Distributor",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Distributor",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Branch",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Branch",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Site",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Site",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Branch Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Branch Code",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Store Id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Store Id",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Store Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Store Name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Local Channel Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Local Channel Name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Cust Type Name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Cust Type Name",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Route Code",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Route Code",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Routes Coversing Stores",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Routes Coversing Stores",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Number of Visit",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Number of Visit",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Visit",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Visit",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Daily_Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Daily_Sales",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "P3M_Avg_Sales",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "P3M_Avg_Sales",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Cut_Oversold",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Cut_Oversold",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Order_Value",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Order_Value",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "SRN",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SRN",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "MTD_GP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MTD_GP",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "P3M_Avg_GP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "P3M_Avg_GP",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Billing Opportnity",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Billing Opportnity",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Visit_Billing",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Visit_Billing",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Billing_Loss",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Billing_Loss",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Deviation",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Deviation",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Reason_for_Deviation",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Reason_for_Deviation",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Instore_Time",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Instore_Time",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Visit_Start_Time",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Visit_Start_Time",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "Visit_End_Time",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Visit_End_Time",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_AR Issue",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_AR Issue",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Dead Store",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Dead Store",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Other",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Other",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Others",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Others",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Stock Available",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Stock Available",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Store Closed",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Store Closed",
														"type": "String",
														"physicalType": "varchar"
													}
												},
												{
													"source": {
														"name": "CCR_Store Order Received",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CCR_Store Order Received",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "HawkEyeCSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": "Daily_Store_Data",
												"directory": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_StoreData",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Sp StoreData",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy StoreData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[spDirectLoadSaveData]",
										"storedProcedureParameters": {
											"FileSetType": {
												"value": "3",
												"type": "Byte"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "HawkEye_LinkedService",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "StoreData_Archive",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Sp StoreData",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Daily_Store_Data",
												"wildcardFileName": {
													"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "HawkEyeCSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": "Daily_Store_Data",
												"directory": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "HawkEyeCSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": "Daily_Store_Data/Archive",
												"directory": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "StoreData_Error",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Sp StoreData",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Daily_Store_Data",
												"wildcardFileName": {
													"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "HawkEyeCSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": "Daily_Store_Data",
												"directory": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "HawkEyeCSV",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": "Daily_Store_Data/Error",
												"directory": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteStoreData",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "StoreData_Archive",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_StoreDataFolder",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"wildcardFileName": {
												"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								},
								{
									"name": "DeleteStoreData_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "StoreData_Error",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_StoreDataFolder",
											"type": "DatasetReference",
											"parameters": {}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false,
											"wildcardFileName": {
												"value": "@{concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv')}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,concat('Daily_Store_Data','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'.csv'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DataDatetime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DataDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TimeToday",
							"value": {
								"value": "@formatDateTime(convertTimeZone(variables('DataDate'),'UTC','India Standard Time'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DataDate",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "DataDate",
							"value": {
								"value": "@convertTimeZone(pipeline().parameters.ProcessedDataDate,'UTC','India Standard Time')",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"ProcessedDataDate": {
						"type": "string"
					}
				},
				"variables": {
					"TimeToday": {
						"type": "String"
					},
					"DataDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Hawk Eye"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-04T18:37:57Z"
			},
			"dependsOn": []
		}
	]
}