LEAP-DF-DataLoad/linkedTemplates/ArmTemplate_15.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LEAP-DF-DataLoad"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TeleCallerListForDay')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "tblTAS_tmpRAWTeleCallerListForDay",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "spTransferDFTeleCallerListForDayData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE tblTAS_tmpRAWTeleCallerListForDay",
								"allowCopyCommand": true,
								"copyCommandSettings": {},
								"disableMetricsCollection": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "PolybaseLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "AttendDetId",
											"type": "Int32"
										},
										"sink": {
											"name": "AttendDetId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreId",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallMade",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallMade",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DSENodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DSENodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "DSENodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SectorId",
											"type": "Int32"
										},
										"sink": {
											"name": "SectorId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgCallStatus",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCallStatus",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ScheduleCall",
											"type": "String"
										},
										"sink": {
											"name": "ScheduleCall",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "ReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CallAttempt",
											"type": "Byte"
										},
										"sink": {
											"name": "CallAttempt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TeleReasonId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleReasonId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TeleUserId",
											"type": "Int32"
										},
										"sink": {
											"name": "TeleUserId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Priority",
											"type": "Int16"
										},
										"sink": {
											"name": "Priority",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "TotalSales",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalSales",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfInv",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfInv",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LastCallDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCallDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsFinalDownloadSubmit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "IsDownloaded",
											"type": "Boolean"
										},
										"sink": {
											"name": "IsDownloaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutStandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutStandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutStandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "InvNo",
											"type": "String"
										},
										"sink": {
											"name": "InvNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "InvDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LoginIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeSTampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										},
										"sink": {
											"name": "OldTeleCallingId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCRouteCalendarId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCPlanCallsMapId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "RuleId",
											"type": "Int32"
										},
										"sink": {
											"name": "RuleId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ScheduleDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "ScheduleDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CallStartDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "CallStartDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Remarks",
											"type": "String"
										},
										"sink": {
											"name": "Remarks",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastOrderDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastOrderDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastOrderValue",
											"type": "Decimal"
										},
										"sink": {
											"name": "LastOrderValue",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OrderBy",
											"type": "String"
										},
										"sink": {
											"name": "OrderBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastVisit",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastVisit",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastVisitStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastVisitStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VisitedBy",
											"type": "String"
										},
										"sink": {
											"name": "VisitedBy",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCall",
											"type": "DateTime"
										},
										"sink": {
											"name": "LastCall",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LastCallStatus",
											"type": "String"
										},
										"sink": {
											"name": "LastCallStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastCalledBY",
											"type": "String"
										},
										"sink": {
											"name": "LastCalledBY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SubChannel",
											"type": "String"
										},
										"sink": {
											"name": "SubChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FrequencyId",
											"type": "Byte"
										},
										"sink": {
											"name": "FrequencyId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "AlternateContactNo",
											"type": "String"
										},
										"sink": {
											"name": "AlternateContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RouteName",
											"type": "String"
										},
										"sink": {
											"name": "RouteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarRuleId",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSTgt",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarProductivityTgt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "TotOrderVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotOrderVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfSKU",
											"type": "Int32"
										},
										"sink": {
											"name": "NoOfSKU",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAct",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarTotIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "FiveStarAlrdyAchIndTgtDlvryVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfStarsAch",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										},
										"sink": {
											"name": "NoOfPendingVisits",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TotInvVal",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotInvVal",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfGPAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										},
										"sink": {
											"name": "FiveStarNoOfLSSAchieved",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "DSEIssueIds",
											"type": "String"
										},
										"sink": {
											"name": "DSEIssueIds",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSEComments",
											"type": "String"
										},
										"sink": {
											"name": "DSEComments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										},
										"sink": {
											"name": "flgCCRRoleOver",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "TCNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TCNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "TCNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchCode",
											"type": "String"
										},
										"sink": {
											"name": "BranchCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DSECode",
											"type": "String"
										},
										"sink": {
											"name": "DSECode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderCode",
											"type": "String"
										},
										"sink": {
											"name": "OrderCode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblTAS_tmpRAWTeleCallerListForDay",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_tblTAS_tmpRAWTeleCallerListForDay",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "spPopulateTeleCallerListForDayFromTempTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "tblTAS_tmpRAWTeleCallerListForDay",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateTeleCallerListForDayFromTempTable]"
						},
						"linkedServiceName": {
							"referenceName": "DataFoundationDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "spTransferDFTeleCallerListForDayData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spTransferDFTeleCallerListForDayData]"
						},
						"linkedServiceName": {
							"referenceName": "TASDatabase",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Additional Process"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RTRM_Cloud1",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": "RTRM_cloud01_2021Jun14"
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@addminutes(utcnow(),330)",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "RTRM_cloud01_2021Jun14.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_location",
											"type": "String"
										},
										"sink": {
											"name": "branch_location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_code",
											"type": "String"
										},
										"sink": {
											"name": "retailer_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_name",
											"type": "String"
										},
										"sink": {
											"name": "retailer_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String"
										},
										"sink": {
											"name": "address_1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String"
										},
										"sink": {
											"name": "address_2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pin_number",
											"type": "String"
										},
										"sink": {
											"name": "pin_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "area_code",
											"type": "String"
										},
										"sink": {
											"name": "area_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "area",
											"type": "String"
										},
										"sink": {
											"name": "area",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "town",
											"type": "String"
										},
										"sink": {
											"name": "town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "town_class",
											"type": "String"
										},
										"sink": {
											"name": "town_class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mobile_number",
											"type": "String"
										},
										"sink": {
											"name": "mobile_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phone_number",
											"type": "String"
										},
										"sink": {
											"name": "phone_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "contact_person",
											"type": "String"
										},
										"sink": {
											"name": "contact_person",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "stl_name",
											"type": "String"
										},
										"sink": {
											"name": "stl_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dse_name",
											"type": "String"
										},
										"sink": {
											"name": "dse_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "frequency",
											"type": "String"
										},
										"sink": {
											"name": "frequency",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distance",
											"type": "String"
										},
										"sink": {
											"name": "distance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_name",
											"type": "String"
										},
										"sink": {
											"name": "class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_name",
											"type": "String"
										},
										"sink": {
											"name": "channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type_name",
											"type": "String"
										},
										"sink": {
											"name": "subchannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "credit_limit",
											"type": "String"
										},
										"sink": {
											"name": "credit_limit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "credit_period",
											"type": "String"
										},
										"sink": {
											"name": "credit_period",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "invoice_limit",
											"type": "String"
										},
										"sink": {
											"name": "invoice_limit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gst_number",
											"type": "String"
										},
										"sink": {
											"name": "gst_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pan_no",
											"type": "String"
										},
										"sink": {
											"name": "pan_no",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dl_number",
											"type": "String"
										},
										"sink": {
											"name": "dl_number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dl_expiry_date",
											"type": "String"
										},
										"sink": {
											"name": "dl_expiry_date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dob",
											"type": "String"
										},
										"sink": {
											"name": "dob",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "doa",
											"type": "String"
										},
										"sink": {
											"name": "doa",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "default_warehouse_code",
											"type": "String"
										},
										"sink": {
											"name": "default_warehouse_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "default_warehouse",
											"type": "String"
										},
										"sink": {
											"name": "default_warehouse",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "restricted_orderswap_status",
											"type": "String"
										},
										"sink": {
											"name": "restricted_orderswap_status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lattitude",
											"type": "String"
										},
										"sink": {
											"name": "lattitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distributor_code",
											"type": "String"
										},
										"sink": {
											"name": "distributor_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "payment_mode",
											"type": "String"
										},
										"sink": {
											"name": "payment_mode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_type",
											"type": "String"
										},
										"sink": {
											"name": "retailer_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "store_type",
											"type": "String"
										},
										"sink": {
											"name": "store_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "tbe_name",
											"type": "String"
										},
										"sink": {
											"name": "tbe_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phonenumber1_verified",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber1_verified",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phonenumber1_verifieddate",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber1_verifieddate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phonenumber2_verified",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber2_verified",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phonenumber2_verifieddate",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber2_verifieddate",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_RTRM_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Leap Data Pipeline"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test_Loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[SpFilecheck]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TASDBConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "flgDone",
							"value": {
								"value": "@string(activity('Lookup1').output.firstRow.flgDone)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(int(variables('flgDone')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set variable1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[SpinsertLog]"
									},
									"linkedServiceName": {
										"referenceName": "TASDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 15
									}
								},
								{
									"name": "Lookup1_copy1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[SpFilecheck]",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "TASDBConnection",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set variable1_copy1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Lookup1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "flgDone",
										"value": {
											"value": "@activity('Lookup1_copy1').output.firstRow.flgDone",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"flgDone": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "tblINITClusterMaster",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "INITClusterID",
											"type": "Int32"
										},
										"sink": {
											"name": "INITClusterID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ClusterName",
											"type": "String"
										},
										"sink": {
											"name": "ClusterName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITClusterMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITFileList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITClusterMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GrpSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "GrpSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "GroupName",
											"type": "String"
										},
										"sink": {
											"name": "GroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSqnc",
											"type": "Byte"
										},
										"sink": {
											"name": "FileSqnc",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileTypeID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileTypeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITFileList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDChannelMapping",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ChannelID",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDChannelMapping",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDCodeMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDChannelMapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDName",
											"type": "String"
										},
										"sink": {
											"name": "SBDName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EffectiveFrom",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveFrom",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "EffectiveTo",
											"type": "Int32"
										},
										"sink": {
											"name": "EffectiveTo",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "TimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDCodeMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDGroupMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDCodeMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDCodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDCodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupName",
											"type": "String"
										},
										"sink": {
											"name": "SBDGroupName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "LoginID",
											"type": "Int32"
										},
										"sink": {
											"name": "LoginID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetID",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDGroupMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDSBFList",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDGroupMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDSBFList",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblINITSBDStoreWiseGaps",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDSBFList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBFNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "SBFNodeType",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SBDGroupID",
											"type": "Int32"
										},
										"sink": {
											"name": "SBDGroupID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "flgBaseCode",
											"type": "Byte"
										},
										"sink": {
											"name": "flgBaseCode",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "BranchNodeID",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchNodeType",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchNodeType",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblINITSBDStoreWiseGaps",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tblStoreMaster_1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tblINITSBDStoreWiseGaps",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StoreID",
											"type": "Int32"
										},
										"sink": {
											"name": "StoreID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "StoreCode",
											"type": "String"
										},
										"sink": {
											"name": "StoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "StoreName",
											"type": "String"
										},
										"sink": {
											"name": "StoreName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TimeStampIns",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampIns",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										},
										"sink": {
											"name": "TimeStampUpd",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										},
										"sink": {
											"name": "BranchSubdNodeId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										},
										"sink": {
											"name": "BranchSubdNodeType",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "flgActive",
											"type": "Byte"
										},
										"sink": {
											"name": "flgActive",
											"type": "Byte"
										}
									},
									{
										"source": {
											"name": "ContactNo",
											"type": "String"
										},
										"sink": {
											"name": "ContactNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										},
										"sink": {
											"name": "OutstandingAmt",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "OutstandingDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "OutstandingDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdUpd",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "FileSetIdTimeStamp",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address 2",
											"type": "String"
										},
										"sink": {
											"name": "Address 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Class",
											"type": "String"
										},
										"sink": {
											"name": "Customer Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DRCPChannel",
											"type": "String"
										},
										"sink": {
											"name": "DRCPChannel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Customer Type",
											"type": "String"
										},
										"sink": {
											"name": "Customer Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town",
											"type": "String"
										},
										"sink": {
											"name": "Town",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Town Class",
											"type": "String"
										},
										"sink": {
											"name": "Town Class",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tin No",
											"type": "String"
										},
										"sink": {
											"name": "Tin No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drug Licence No",
											"type": "String"
										},
										"sink": {
											"name": "Drug Licence No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GSTIN No",
											"type": "String"
										},
										"sink": {
											"name": "GSTIN No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pan No",
											"type": "String"
										},
										"sink": {
											"name": "Pan No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CoverageType",
											"type": "String"
										},
										"sink": {
											"name": "CoverageType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date Of Birth",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date Of Birth",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Sectorization",
											"type": "String"
										},
										"sink": {
											"name": "Sectorization",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "My_Channel",
											"type": "String"
										},
										"sink": {
											"name": "My_Channel",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Dse_Type",
											"type": "String"
										},
										"sink": {
											"name": "Dse_Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STL_Code",
											"type": "String"
										},
										"sink": {
											"name": "STL_Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Lat",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Lat",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GPS_Long",
											"type": "String"
										},
										"sink": {
											"name": "GPS_Long",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark4",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark5",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DL No",
											"type": "String"
										},
										"sink": {
											"name": "DL No",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark7",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Distance in KM",
											"type": "String"
										},
										"sink": {
											"name": "Distance in KM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RtrRemark10",
											"type": "String"
										},
										"sink": {
											"name": "RtrRemark10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pin Code",
											"type": "String"
										},
										"sink": {
											"name": "Pin Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MKT Name",
											"type": "String"
										},
										"sink": {
											"name": "MKT Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileSetIdIns",
											"type": "Int32"
										},
										"sink": {
											"name": "FileSetIdIns",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "OrgStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "OrgStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ReplaceStoreCode",
											"type": "String"
										},
										"sink": {
											"name": "ReplaceStoreCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "ChannelId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "town_code",
											"type": "String"
										},
										"sink": {
											"name": "town_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "class_code",
											"type": "String"
										},
										"sink": {
											"name": "class_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "channel_code",
											"type": "String"
										},
										"sink": {
											"name": "channel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "subchannel_code",
											"type": "String"
										},
										"sink": {
											"name": "subchannel_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_code",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mr_account_name",
											"type": "String"
										},
										"sink": {
											"name": "mr_account_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "certificate_type",
											"type": "String"
										},
										"sink": {
											"name": "certificate_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "retailer_Radius",
											"type": "String"
										},
										"sink": {
											"name": "retailer_Radius",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubChannelId",
											"type": "Int32"
										},
										"sink": {
											"name": "SubChannelId",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_TAS_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DF_tblStoreMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Other Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-17T07:38:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOCM_Cloud1",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Filename",
										"value": {
											"value": "@string('LOCM_cloud01_2021feb18.csv')\n",
											"type": "Expression"
										}
									},
									{
										"name": "LastModifiedDatetime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									},
									{
										"name": "FileID",
										"value": "1"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "LOCM_cloud01_*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "DFPolybaseStagingStorageLink",
									"type": "LinkedServiceReference"
								},
								"path": "polybasestaging"
							},
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country_code",
											"type": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country_name",
											"type": "String"
										},
										"sink": {
											"name": "country_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division_name",
											"type": "String"
										},
										"sink": {
											"name": "division_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region_code",
											"type": "String"
										},
										"sink": {
											"name": "region_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "site_code",
											"type": "String"
										},
										"sink": {
											"name": "site_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "site_name",
											"type": "String"
										},
										"sink": {
											"name": "site_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distributor_code",
											"type": "String"
										},
										"sink": {
											"name": "distributor_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "distributor_name",
											"type": "String"
										},
										"sink": {
											"name": "distributor_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_code",
											"type": "String"
										},
										"sink": {
											"name": "branch_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "branch_name",
											"type": "String"
										},
										"sink": {
											"name": "branch_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FileID",
											"type": "String"
										},
										"sink": {
											"name": "FileSetId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Filename",
											"type": "String"
										},
										"sink": {
											"name": "Filename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastModifiedDatetime",
											"type": "String"
										},
										"sink": {
											"name": "LastModifiedDatetime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LeapCSV_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_LOCM_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_AR_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_AR_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_FocusHitRate_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_FocusHitRate_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RETAILER_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RETAILER_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RetailingTarget_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RetailingTarget_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_RouteCalendar_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_RouteCalendar_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SRN_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SRN_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BRANCHCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "SUBDNAME",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NC_Sales_SUBD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServerNCSAstix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SUBD_NCS"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SUBDCODE",
						"type": "varchar"
					},
					{
						"name": "DSECODE",
						"type": "varchar"
					},
					{
						"name": "CUSTCODE",
						"type": "varchar"
					},
					{
						"name": "INVNO",
						"type": "varchar"
					},
					{
						"name": "INVDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SKUCCODE",
						"type": "varchar"
					},
					{
						"name": "SKUDCODE",
						"type": "varchar"
					},
					{
						"name": "SKUEANCODE",
						"type": "varchar"
					},
					{
						"name": "BATCHCODE",
						"type": "varchar"
					},
					{
						"name": "QTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GROSSAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INITDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "LINEDISC",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NETAMOUNT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "INVREF",
						"type": "varchar"
					},
					{
						"name": "SELECTEDDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UPC",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RETAILING",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tmp_NC_Sales_SUBD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Scale_100')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DW_Scale_100",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-13T17:57:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleDB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scale_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:09:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								14
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleDown')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleDown_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:11:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hawkeye_ScaleUp')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ScaleUp_HawkeyeDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-31T18:10:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScaleDBAt5_30')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Scaledb",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-06-17T18:03:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								0
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_DW_Resume_Scale')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DW_Resume_Scale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-05-07T04:30:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/APIDataFileGeneration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup All Distributor",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DataDatetime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDbrList]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_DF_NC_Sales_SUBD",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Distributor",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup All Distributor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup All Distributor').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractDayPSRRawBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DocNumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DocNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ApplyToDocNum",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ApplyToDocNum",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DSEName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DSEName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChnlCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChnlCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChnlName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChnlName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CustTypeCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CustTypeCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CustTypeName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CustTypeName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "UPC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "UPC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Qty",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Qty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Discount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Discount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NetAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "NetAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Reason",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Reason",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderMode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderMode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_tmpAPIExtractDayPSRRawBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('DayPSRRawBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy DayPSRChnlBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractDayPSRChnlBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChannelCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChannelCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubChannelCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubChannelCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubChannelName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubChannelName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "AccountCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "AccountCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "AccountName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "AccountName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "#ofStores",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "#ofStores",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Retailing",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NetValue",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "NetValue",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GrossValue",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Discount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Discount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxableScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "IGSTAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CessAmount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonDiscount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TaxonScheme",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Qty",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Qty",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_DayPSRChnlBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('DayPSRChnlBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy COSBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractCOSBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DSECode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CutOffQty",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CutOffQty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Amount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_COSBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('COSBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy CFRBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractCFRBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Order_case",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Order_case",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Supply_case",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Supply_case",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Order_value",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Order_value",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Supply_value",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Supply_value",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ActiveStatus",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ActiveStatus",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_CFRBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('CFRBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy InvValBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractInvValBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Warehouse",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Warehouse",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StockType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StockType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "UPC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "UPC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ExpiryDate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "ExpiryDate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MRP",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "MRP",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DP",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DP",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "RP",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "RP",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SIH_CS",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SIH_CS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SIH_PC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SIH_PC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Draft_CS",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Draft_CS",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Draft_PC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Draft_PC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "STN_Intransit_PC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "STN_Intransit_PC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GRN_Intransit_PC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GRN_Intransit_PC",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_InvValBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('InvValBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy BranchOrder",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractBranchOrder WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "RefNo",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "RefNo",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Date",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "order_pc",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "order_pc",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "order_cs",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "order_cs",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BranchOrder_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('BranchOrder','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy OrdHstrBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractOrdHstrBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderNumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SellerCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SellerCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StoreCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderStatus",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "OrderStatus",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SubbfName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PONumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PODate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PODate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "UPC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "UPC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Qty",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Qty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Amount",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Amount",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TCCode",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_OrdHstrBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('OrdHstrBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy PurHstrBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractPurHstrBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "WareHouse",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "WareHouse",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PGInvoiceNo",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PGInvoiceNo",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PGRefNo",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PGRefNo",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TransDate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TransDate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Status",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Status",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "RetRefNum",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "RetRefNum",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GRNNum",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GRNNum",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GRNDate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "GRNDate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "VendorStateName",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "VendorStateName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Pcode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "BatchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "StockType",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "StockType",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "UPC",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "UPC",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "QtyCs",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "QtyCs",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "QtyPc",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "QtyPc",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MRP",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "MRP",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DPRate",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "DPRate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SLPValue",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SLPValue",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PurchDisc",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "PurchDisc",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "SGSTAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "SGSTAmt",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CGSTAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CGSTAmt",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "IGSTAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "IGSTAmt",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CessAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "CessAmt",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TCSAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "TCSAmt",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "NetAmt",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "NetAmt",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_PurHstrBranch_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('PurHstrBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy RtrMstrBranch",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractRtrMstrBranch WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DistName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BranchCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "BranchName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "RtrCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "RtrCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "RtrName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "RtrName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ClassCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ClassCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ClassName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ClassName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChannelCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ChannelCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ChannelName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TypeCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TypeCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "TypeName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "TypeName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Addr1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Addr1",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Addr2",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Addr2",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Addr3",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Addr3",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "City",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "City",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "State",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "State",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PhoneNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "PhoneNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "ContactPerson",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "ContactPerson",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MobileNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "MobileNumber",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Email",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Email",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Lat",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Lat",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Long",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Long",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Payment",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Payment",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MrAccountCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "MrAccountCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "MrAccountName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "MrAccountName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Status",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Status",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CreditLimit",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "CreditLimit",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CreditPeriod",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "CreditPeriod",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "InvoiceLimit",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "InvoiceLimit",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "PanNo",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "PanNo",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DLNum",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DLNum",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DLExpiry",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DLExpiry",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "GSTNum",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "GSTNum",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_RtrMstrBranch",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('RtrMstr','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy TAS STN MDAY",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM tmpAPIExtractTAS_STN WHERE DistCode='@{item().DistributorCode}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Source",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "Source",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DistCode",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "DistName",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "DistName",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "branch_code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "branch_name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "branch_name",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "doc_no",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "doc_no",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "doc_date",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "doc_date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "stock_type",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "stock_type",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "subbf_code",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "subbf_code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "sku_code",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "sku_code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "sku_name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "sku_name",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "hsn_code",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "hsn_code",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "upc",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "upc",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "case_qty",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "case_qty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "piece_qty",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "piece_qty",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "rate",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "rate",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "value",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "value",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "from_location",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "from_location",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "destination_branch",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "destination_branch",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "destination_location",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "destination_location",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "production_batch",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "production_batch",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "transaction_status",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "transaction_status",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "transfer_status",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "transfer_status",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "volume_utilization_perc",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "volume_utilization_perc",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "weight_utilization_perc",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "weight_utilization_perc",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_TAS_STN_MDAY_table",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "LeapAPIFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"directory": "apidatacontainer",
												"FolderPath": {
													"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
													"type": "Expression"
												},
												"filename": {
													"value": "@{concat('STNHstrBranch','_',\nformatDateTime(variables('TimeToday'), 'dd'),formatDateTime(variables('TimeToday'), 'MM'),formatDateTime(variables('TimeToday'), 'yyyy'),'_',item().DistributorCode,'.csv')}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Copy ProdMaster",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForEach Distributor",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM tmpAPIExtractProdMaster",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cat_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cat_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cat_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cat_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Brand_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Brand_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Brand_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Brand_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BF_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BF_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BF_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BF_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Subbf_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subbf_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Subbf_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subbf_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Pcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ShortDesc",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShortDesc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FullDesc",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FullDesc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "weight",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "weight",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "volume",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "volume",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "leap_upc",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "leap_upc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sap_upc",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "sap_upc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "msufactor",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "msufactor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "HSNCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "HSNCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ShelfLife",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShelfLife",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "is_drug",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "is_drug",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "barcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "barcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ProdMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "LeapAPIFileDataset",
								"type": "DatasetReference",
								"parameters": {
									"directory": "apidatacontainer",
									"FolderPath": {
										"value": "@{concat(formatDateTime(variables('TimeToday'), 'yyyy'), '/', formatDateTime(variables('TimeToday'), 'MM'), '/', formatDateTime(variables('TimeToday'), 'dd'))}",
										"type": "Expression"
									},
									"filename": {
										"value": "@{concat('ProdMaster','.csv')}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DataDatetime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DeleteDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TimeToday",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),1,'Day'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DeleteDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "DataDeleteDate",
							"value": {
								"value": "@formatDateTime(subtractFromTime(convertTimeZone(utcnow(),'UTC','India Standard Time'),8,'Day'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DeleteAllFilesinFolder",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy ProdMaster",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DeleteAllFilesinFolder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Containername": {
									"value": "apidatacontainer",
									"type": "Expression"
								},
								"Foldername": {
									"value": "@{concat(formatDateTime(variables('DataDeleteDate'), 'yyyy'), '/', formatDateTime(variables('DataDeleteDate'), 'MM'), '/', formatDateTime(variables('DataDeleteDate'), 'dd'))}",
									"type": "Expression"
								},
								"DataDeleteDate": {
									"value": "@variables('DataDeleteDate')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"TimeToday": {
						"type": "String"
					},
					"DataDeleteDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "API"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}